[2020-11-13 08:16] quaos opened #1 "Error using deno bundle with React: Type 'C' does not satisfy the constraint 'ElementType<any>'"
I'm trying to use `deno bundle` with esm React v17.0.1, but got this error:

[code]

Here is my import/export part of code:
[code]

My environment:
Deno v1.5.2
OS: macOS Mojave 10.14.6

[2020-11-13 10:04] ije commented on #1
i will figure it out, thanks!

you can try to disable the types check temporarily:
[code]

[2020-11-13 12:59] ije commented on #1
@quaos `deno bundle src/client.tsx public/assets/js/client.js` without `--config` seems works fine in my case:

<img width="699" alt="Screenshot 2020-11-13 at 20 57 07" src="https://user-images.githubusercontent.com/2883484/99074489-cd344400-25f2-11eb-9aa8-bb4c3a57c97c.png">

can you please post the `tsconfig.json`?

[2020-11-14 04:55] quaos commented on #1
@ije Here:
***tsconfig.json***
[code]

In my case, omitting `--config` still yields the same errors, with more errors about jsx added in:
[code]

[2020-11-14 05:00] quaos commented on #1
Thanks, the bundle succeeded with `?no-check` !
However, the result `client.js` still has error in browser:
[code]

[client.js.zip](https://github.com/postui/esm.sh/files/5540220/client.js.zip)

[2020-11-14 05:38] ije commented on #1
i see, thanks.
i guess this is a bug in deno bundler.

[2020-11-14 06:39] ije commented on #1
FYI please check https://github.com/denoland/deno/issues/8344

[2020-11-14 09:28] ije commented on #1
@quaos  to get react render details error message, you can use esm.sh's `dev` mode:

[code]

[2020-11-14 09:31] quaos commented on #1
@ije Somewhat after using development mode, the error is gone and React components loaded successfully now.
[code]

[2020-11-14 09:33] ije commented on #1
cool, what deno version you are using? i don't need `no-check` flag in deno `1.5.2`

[2020-11-14 09:34] ije commented on #1
consider use [Aleph.js](https://alephjs.org) ?

[2020-11-14 09:49] quaos commented on #1
@ije I also uses 1.5.2, but do not work without `no-check`
[code]

However, this is the repo I've been working on:
[deno-react-minimal-frontend](https://github.com/quaos/deno-react-minimal-frontend)

[2020-11-14 09:54] ije commented on #1
cool!

[2020-11-14 13:43] quaos commented on #1
@ije So I suppose you can close this issue now 😎

[2020-11-14 22:28] #1 closed

[2020-11-15 16:26] akash-joshi opened #2 "Cannot Import Submodule CSS"
Hey guys, I was trying to use ant.design components with alephjs, which recommends using esm.sh for npm imports. I tried importing the CSS file: https://esm.sh/antd/dist/antd.css, however it throws a 500 error.

Is importing CSS beyond the intended usage of esm.sh ?

Do let me know. Thanks

[2020-11-16 02:21] ije commented on #2
@akash-joshi fixed, please try again!

[2020-11-16 06:25] akash-joshi commented on #2
Thanks a lot. Closing this issue

[2020-11-16 06:25] #2 closed

[2020-11-19 22:16] shadowtime2000 opened #3 "Error When Using Solid SSR"
If you go to [esm.sh/solid-ssr](https://esm.sh/solid-ssr) you get the following code:
[code]
So basically for some reason Solid SSR doesn't work.

[2020-11-20 05:53] ije commented on #3
the `main` field in package.json is `index.js` that dose not exist.
[code]

<img width="540" alt="Screen Shot 2020-11-20 at 13 48 12" src="https://user-images.githubusercontent.com/2883484/99763997-09a5f980-2b37-11eb-9db7-85c2da9f3338.png">

[2020-11-20 06:01] shadowtime2000 commented on #3
Thanks @ije! Do you think that the error message could be a bit more descriptive? ("'main' field is index.js, index.js does not exist")

[2020-11-20 06:57] ije commented on #3
nope, the message was emitted by [esbuild](https://github.com/evanw/esbuild) which i can not touch.

[2020-11-20 06:57] #3 closed

[2020-11-21 14:00] quaos opened #4 "React.FC missing?"
I've just tried using this im/export:
***deps/react.ts***
[code]

But when I tried to create JSX component as `const MyComponent: React.FC<MyComponentProps> = ({ prop1, ..., children }) => { ... }`, it'd give out error that the prop bindings are implicit `any`.

And in test code, I can't find `FC` nor `FunctionalComponent` in imported `React`

***deps/react.test.ts***
[code]

***Output:***
[code]

[2020-11-21 14:28] ije commented on #4
`FC` is just a type declaration in **typescript**, you can not access it in *js*:
[code]

[2020-11-21 15:06] quaos commented on #4
Oh, thanks! However I still can't use it with components with `binding has implicit any` error.

[2020-11-21 15:09] ije commented on #4
try to remove `no-check` parameter?

[2020-11-30 02:03] quaos commented on #4
When removed `no-check`, I got this error:

[code]

[2020-11-30 19:48] ije commented on #4
i will check it

[2020-12-05 18:38] ije commented on #4
<img width="728" alt="Screen Shot 2020-12-06 at 02 37 57" src="https://user-images.githubusercontent.com/2883484/101260581-10a24e00-376c-11eb-8e8d-964af98e1586.png">

[2020-12-05 18:41] ije commented on #4
@quaos please try with `--reload` flag

[2020-12-15 01:57] Soremwar opened #5 "Panic on @material-ui/styles import"
Importing https://cdn.esm.sh/v9/@material-ui/styles@4.11.2/withStyles.d.ts (dependency of @material-ui/core) will result in the following

[code]

[2020-12-15 04:31] ije commented on #5
@Soremwar where you get the https://cdn.esm.sh/v9/@material-ui/styles@4.11.2/withStyles.d.ts url? the right one should be https://cdn.esm.sh/v9/@material-ui/styles@4.11.2/withStyles/index.d.ts

[2020-12-15 04:41] Soremwar commented on #5
@ije I just tried doing https://esm.sh/@material-ui/core@4.11.2?external=react@17.0.1

[2020-12-15 04:43] Soremwar commented on #5
Something similar happens on https://esm.sh/[react,react-dom,@material-ui/core]/@material-ui/core

[2020-12-15 04:49] ije commented on #5
@Soremwar thanks, i will fix it ASAP.

[2020-12-15 05:31] ije commented on #5
@Soremwar please try `deno cache --reload https://esm.sh/@material-ui/core@4.11.2?external=react@17.0.1`, i just updated the server if any error outputed please do tell me, thanks

[2020-12-15 05:41] Soremwar commented on #5
Wow that was fast

No more compile errors! Only a runtime error :(
![image](https://user-images.githubusercontent.com/42647963/102175845-32878900-3e6e-11eb-8600-e4a1019b5c7d.png)

[2020-12-15 05:44] ije commented on #5
most of web packages in npm don't do compatibility for deno, need time i guess...

[2020-12-15 05:48] Soremwar commented on #5
I understand. Keep up the good work!

[2020-12-15 05:48] #5 closed

[2020-12-18 10:52] evromalarkey opened #6 "production use"
I'm trying to create modern build stack using javascript modules and dynamic imports. And today this is very much possible for example with rollup and modules from npm, with esm.sh even better for loading modules directly from CDN.

The problem is production use and old browsers, it's possible now to use rollup and @babel/env to use javascript modules and dynamic imports as amd with requirejs, but

[2020-12-18 11:27] evromalarkey commented on #6
Or another, probably easier approach would be installing esm dependencies with npm and compile it to amd for legacy builds. And for modern builds similar plugin for rollup could be created https://github.com/trygve-lie/rollup-plugin-esm-import-to-url to auto translate dependencies to esm.sh urls.

But that's still heavily depends on npm, and including es modules as https://esm.sh/module is easier

[2020-12-18 11:40] ije commented on #6
@evromalarkey thanks for your suggestion! but esm.sh' goal is to bring web dev to es next, i suggest you using unpkg.com to import modules as amd.

[2020-12-18 11:42] ije commented on #6
you only can `import` a module from es module.

[2020-12-18 11:47] ije commented on #6
and esbuild dont' support amd format that is the inner bundler of esm.sh. Please check https://esbuild.github.io/api/#format

[2020-12-18 11:53] evromalarkey commented on #6
Understood, then probably better and best approach for using esm.sh in production would be using plugin like this https://github.com/mjackson/rollup-plugin-url-resolve to resolve the urls and do amd build for legacy browsers.

[2020-12-20 16:31] stephdin opened #7 "502 Bad Gateway for postcss 8.1.4"
I want to try out aleph.js [alephjs/aleph.js](https://github.com/alephjs/aleph.js), but i every time i try to start the dev server i run into the following problem:

[code]
When i check the shown links in the browser, a Cloudflare 502 Bad gateway error is returned. Every time i run the `alpeh dev` command another file is affected.

https://cdn.esm.sh/v10/postcss@8.1.4/lib/comment.js.d.ts
https://c

[2020-12-20 16:43] stephdin commented on #7
Okay, i cleared my whole deno cache and started the aleph dev server again. Now it works. Not it fetches the files from `https://cdn.esm.sh/v11` and not `v10`. So i don't really know what happend and why.

Feel free to close this then :)

[2020-12-20 16:45] ije commented on #7
`alpeh dev --reload` can help, sorry for that and i will improve this to avoid new build id broken the old builds, thanks.

[2020-12-20 16:48] #7 closed

[2020-12-20 16:49] #6 closed

[2020-12-24 00:52] hazae41 opened #8 ""Buffer.from is not a function" when using ESM package"
Hey, I'm trying to use [web3](https://github.com/ethereum/web3.js/) from ESM

[code]

But when loading the page I'm getting this error

[code]

[2020-12-24 01:02] ije commented on #8
@hazae41 thanks, i will fix it ASAP.

[2020-12-26 13:18] ije commented on #8
@hazae41 i will depoly the bugfix tmw

[2020-12-26 14:20] hazae41 commented on #8
Thanks!

[2020-12-27 03:44] ije commented on #8
@hazae41 deployed, please try `deno cache --reload https://esm.sh/web3`

[2020-12-27 08:36] ije commented on #4
I'm going to close this issue since you did not response for a long time, i guess it's fixed for you, thanks.

[2020-12-27 08:36] #4 closed

[2020-12-27 10:29] hazae41 commented on #8
Hey, it seems https://cdn.esm.sh/ is down

[2020-12-27 10:37] ije commented on #8
<img width="1071" alt="Screen Shot 2020-12-27 at 6 35 54 PM" src="https://user-images.githubusercontent.com/2883484/103168926-61d8c580-4872-11eb-9507-1d7dd148ffad.png">

i'm not sure what happened, i will try to restart the server.

[2020-12-27 16:54] ije commented on #8
@hazae41 fixed

[2020-12-27 20:23] hazae41 commented on #8
I have the following error when using `aleph dev` (after `aleph upgrade`)

    at https://cdn.esm.sh/v12/_node_fs.js:363:1903

[2020-12-28 13:50] ije commented on #8
@hazae41 sorry i didn't check the `deno bundle` output, i just reverted the `fs` polyfill, pelase try again, thanks

[code]

[2020-12-28 14:54] hazae41 commented on #8
`aleph dev --reload` doesn't seem to work

![D1ADBBB2-962D-44FF-9D19-0A64C4572A86](https://user-images.githubusercontent.com/4405263/103222714-f3087480-4924-11eb-8372-6ad656533eb4.jpeg)

It just shows the same error

[2020-12-28 15:47] ije commented on #8
please refresh the deno cache, **v0.3** will share cache with deno so `reload` option will work fine.

[code]

[2020-12-28 16:15] hazae41 commented on #8
It works! Thanks!

[2020-12-28 16:15] #8 closed

[2020-12-28 16:17] ije commented on #8
@hazae41 thank you

[2021-01-05 20:08] Tindome opened #9 "deno post css error"
Hello,

thanks for the port to Deno

I use deno version

deno 1.6.3 (release, x86_64-unknown-linux-gnu)
v8 8.8.294
typescript 4.1.3

but when i to use deno+postcss with your sample

[code]

i get the following error

error: TS2315 [ERROR]: Type 'Plugin' is not generic.
    type Autoprefixer = Plugin<Options> & ExportedAPI;
[code]

[2021-01-05 20:10] shadowtime2000 commented on #9
@Tindome Have you tried running it with `--no-check`? This is most likely because of incorrect typings.

[2021-01-05 20:20] Tindome commented on #9
perfect

[2021-01-05 20:20] #9 closed

[2021-01-05 21:03] Tindome opened #10 "tailwindcss error"
Hello,

Another try (using deno and postcss)
when trying to use it with tailwindcss

[code]

i get the following error

error: Uncaught TypeError: k_.Parser.extend(...).extend is not a function
    at https://cdn.esm.sh/v14/tailwindcss@2.0.2/esnext/tailwindcss.js:25:17298
    at https://cdn.esm.sh/v14/tailwindcss@2.0.2/esnext/tailwindcss.js:2:1074
    at https://cdn.esm.sh/v14/tailwindcss@2.0.2/es

[2021-01-06 04:11] shadowtime2000 opened #11 "Count of Served Packages and Requests"
Would be nice to see some stats like served packages and number of requests per month.

[2021-01-06 13:28] ije commented on #11
yes! i will create a new website in the future that can show the network statistics with clouldflare api.

[2021-01-09 23:02] hazae41 opened #12 "esm.sh does not have git binary"
For example, when trying to compile WalletConnect, it throws "Could not find the binary git"
https://github.com/WalletConnect/walletconnect-monorepo/issues/405

Is it possible to have git?

[2021-01-09 23:15] shadowtime2000 commented on #12
I am confused on why building wallet connect requires `git`. Maybe esbuild does something with the `gitHead` in the `package.json`.

[2021-01-11 17:29] FallingSnow opened #13 "Bundle doesn't seem to have been generated - 404"
[code]

import_map.json
[code]

[2021-01-11 17:48] FallingSnow opened #14 "Unable to bundle graphql"
[code]

When traversing to `https://esm.sh/graphql?target=es2018&dev` you get
[code]

[2021-01-11 17:49] shadowtime2000 commented on #14
Looks like it is partially a problem with the `graphql` package and how they wrote it

[2021-01-11 17:56] FallingSnow commented on #14
Esbuild seems to have no problem bundling it locally.

app.tsx:
[code]

[code]

[2021-01-11 17:57] shadowtime2000 commented on #14
Strange...

[2021-01-11 18:05] FallingSnow commented on #13
Error when visiting `https://cdn.esm.sh/bundle-ojv7uwoviwslf342bemex5fq7b4wvqk3.js`:
[code]

[2021-01-11 20:00] shadowtime2000 commented on #14
Maybe ESM is using an older version of esbuild?

[2021-01-11 23:49] ije commented on #13
please try `deno --reload run [...]`, i will fix this (new server deployment will clean up the old builds)

[2021-01-11 23:51] ije commented on #14
@FallingSnow thanks, i will figure it out what happened.

[2021-01-12 00:07] FallingSnow commented on #13
I'm using Aleph. What command would I run for that? I already tried

[code]

Made a slight change to `import_map.json` to work around the graphql issue (#14) right now. (Note the addition of graphql)
[code]

[2021-01-12 00:16] ije commented on #13
[code]

[2021-01-12 00:25] ije commented on #13
i know what happened, i will fix it ASAP, thanks! please use package link instead of the bundle link, aleph **v0.3** will bundle the code in production mode.

[2021-01-13 02:39] FallingSnow opened #15 "Exports not exported for graphql-request"
Esm.sh does not correctly export non default exports. When using skypack it does.

Take graphql-request for example.
Graphql-request does export a gql function.
https://github.com/prisma-labs/graphql-request/blob/5b233c5658e65ed0d98cf8bff50beec413f399b9/src/index.ts#L223

Using skypack:
[code]

Using esm.sh:
[code]

What's strange is when you download the esm.sh bundle (https://cdn.esm.sh/v14/grap

[2021-01-13 03:10] shadowtime2000 commented on #15
The skypack example you gave doesn't seem to run properly
![image](https://user-images.githubusercontent.com/66655515/104401788-c0a46d00-5509-11eb-8c14-ae455e419c9c.png)
The fact that it is importing `/language/printer` instead of `/language/printer.js` is a little strange...

[2021-01-13 03:12] shadowtime2000 commented on #15
I was looking through the bundle (yes I know it's not that good of a thing to do) but it seems `Bt` is never defined. `bt` is but JavaScript references are case sensitive I believe. Could that be the case?

[2021-01-13 03:23] FallingSnow commented on #15
Ok... oddly enough this does work though.

[code]

I can upload a test repo if you'd like.

[2021-01-13 03:29] FallingSnow commented on #15
Ok you're right. In fact none of the others are defined either (At, _t, Ft, jt)...

[2021-01-13 03:30] FallingSnow commented on #15
I guess what's next is to try a local esbuild example.

[2021-01-13 03:33] FallingSnow commented on #15
Local esbuild does work correctly.

app.ts
[code]

[code]

[2021-01-13 04:48] ije commented on #15
[code]

i got the output:

[code]

seems it is the esbuild issue, i'm not sure what happened, will check the esbuild api later, thanks @FallingSnow

[2021-01-13 05:11] shadowtime2000 commented on #15
Yeah, seems to be a problem with the esbuild minifier. We should probably file a bug report there

[2021-01-13 05:18] ije commented on #15
@FallingSnow can you please try `./node_modules/.bin/esbuild app.ts --bundle --platform=web --outfile=out.js`

[2021-01-13 05:20] ije commented on #13
should work now:
https://esm.sh/[react,react-dom,swr]/react

[2021-01-13 05:38] FallingSnow commented on #15
![Screenshot from 2021-01-12 21-36-07](https://user-images.githubusercontent.com/2512197/104410961-45998180-551e-11eb-9a39-cfbe405d975d.png)
Export is good still. Btw `--platform=browser` is the correct flag. Are we using the same esbuild version?
[code]

[2021-01-13 05:45] FallingSnow commented on #13
Not sure if I'm using this right.
[code]
[code]

[2021-01-13 05:58] shadowtime2000 commented on #13
@FallingSnow CAn you share the imports?

[2021-01-13 06:15] FallingSnow commented on #13
import_map.json
[code]

[2021-01-13 06:16] shadowtime2000 commented on #13
@FallingSnow You have to change that to `[react,react-hook-form,react-flow-renderer,swc,tailwindcss]` because the import to tailwind is being prefixed with that bundle which makes it invalid cuz tailwind isn't included in it.

[2021-01-13 06:18] FallingSnow commented on #13
Is there a way I could make a bundle for react related modules and no bundles for the others?

[2021-01-13 06:19] shadowtime2000 commented on #13
@FallingSnow

[code]
Then you just do
[code]
or whatever you want.

[2021-01-13 06:27] FallingSnow commented on #13
Hmmm, now I'm running into this:
[code]

Not sure what's causing it.

[2021-01-13 17:33] FallingSnow commented on #13
I modified the aleph source to see which file it was trying to read in project.ts. @shadowtime2000 Am I doing something wrong or is the module resolution not working as expected?

[code]

app.tsx
[code]

import_map.json
[code]

[2021-01-13 17:42] FallingSnow commented on #13
Looks like it was failing https://github.com/alephjs/aleph.js/blob/0456c9da64ba09967a1b376358c93e8991bdff97/project.ts#L1022 is remote test.

[2021-01-13 17:44] ije commented on #13
i think using esm.sh's bundle mode in alephjs is not a good idea since the alephjs will handle the react import URL. and **0.3** will bundle the app in production mode.

[2021-01-13 17:48] FallingSnow commented on #13
Oh ok, I forgot you already said this and just kept charging forward, oops.

I did get it pretty close to working, it actually imports now.
[code]

[2021-01-13 23:29] #13 closed

[2021-01-14 17:59] FallingSnow commented on #14
I've worked out that the input going into esbuild is incorrect. Here is effectively the cause of the compiler fail:
[code]

Note this is passed in at https://github.com/postui/esm.sh/blob/c61d1a05462a1d413f2b69797093e3ae54de7912/server/build.go#L465

An example of what the compiler is trying to compile:
[code]
Which results in
[code]

Now to find out why esbuild is being passed this.

[2021-01-16 06:54] ije commented on #14
@FallingSnow thanks for the details, it is vary useful for me, and i just fixed it! please try it agian: https://esm.sh/graphql.

[2021-01-16 10:46] mizchi opened #16 "Does not work with preact and svelte subdirectory"
I found some patterns.

- preact & preact/hooks
- svelte & svelte/internal

## Example

preact case

[code]

svelte case.

[code]

compiled svelte has `import { ... } from "svelte/internal"`.

To be common to both, they have to share the same instance in its inside. esm.sh failed.

[2021-01-16 11:17] ije commented on #16
can you please post the svelte output?

[2021-01-18 05:16] mizchi commented on #16
[code]

[2021-01-18 21:06] FallingSnow commented on #14
Great, it's working great! I'm finally only using `esm.sh` and denoland.

[2021-01-18 21:06] #14 closed

[2021-01-26 21:27] hazae41 commented on #12
The issue seems fixed, it works now, even with the same module version

[2021-01-26 21:27] #12 closed

[2021-01-26 21:33] ije commented on #12
thanks, i'm think it was fixed by the new esbuild.

[2021-01-26 21:47] hazae41 opened #17 "Module exports { default, __esModule }"
When importing the default export from WalletConnect

[code]

Which is a class in my editor

![Capture](https://user-images.githubusercontent.com/4405263/105909182-823da080-6027-11eb-8450-551100a5888b.PNG)

However, when deploying (aleph dev) I get the following object instead

![Capture](https://user-images.githubusercontent.com/4405263/105909338-b6b15c80-6027-11eb-820d-967b7617bfd7.PNG)

[2021-01-26 21:49] shadowtime2000 commented on #17
I think this is kind of expected behaviour, has something to do with the conversion of CJS -> ES though I think this is based on the build system of WalletConnect instead of on ESM's side

[2021-01-26 21:54] hazae41 commented on #17
Thanks, any idea how I can reconciliate my editor and the browser?

[2021-01-26 22:09] hazae41 commented on #17
I did this workaround

[code]

[2021-01-26 22:25] shadowtime2000 commented on #17
Yup, it has to do with the fact that WalletConnect isn't shipping ES modules and instead they are using Webpack + TS to convert their ES source code into CJS which is published. This causes `export default` to be transformed to `exports.default` which isn't actually a proper conversion though. @hazae41 I'd recommend you open an issue on their repo.

[2021-01-26 22:36] hazae41 commented on #17
Okay thanks

[2021-01-26 22:36] #17 closed

[2021-01-30 10:22] wojpawlik opened #18 "`stream-browserify`"
Thank you for esm.sh, of all the things I tried this gets me the closest to running `telegraf` on Deno. But not close enough:

[code]

`telegraf` depends on `sandwich-stream`, which has an `.mjs` entry which `import { Readable } from 'stream'`. This is legal:

[code]

However, `stream-browserify`, used by esm.sh to ponyfill `stream`, doesn't support it. I can open a PR, but only if @goto-bus-stop

[2021-01-30 10:31] goto-bus-stop commented on #18
If `deno` provides a `stream` module itself, the best option would be to exclude `stream` from the bundle somehow.

Alternatively, esm.sh could use the `readable-stream` module directly. `stream-browserify` includes support for some very old Node.js APIs for backwards compatibility. That is necessary for browserify which supports many legacy projects that are many years old, but maybe not for esm.

[2021-01-30 11:20] ije commented on #18
i have a plan to provide all polyfills of nodejs internal module from `deno.land/std/node/**` to get better deno compatibility, currently i just added the `fs` polyfill since the std lib doesn't implement all of them.
FYI: https://github.com/postui/esm.sh/tree/master/third_party/polyfills

[2021-02-05 21:43] shadowtime2000 commented on #18
I believe readable stream is getting (kind of) built in Deno support from it's maintainers. Might be something to look at.

[2021-02-06 16:02] quaos opened #19 "React-Router conflict"
I'm trying to import React, ReactDOM and React Router for bundling by Deno.

However, when running app in browser it dies with this error:
[code]

The hook calls are surely located inside Functional Components.

Then I tried to import/re-export these 3 libs bundled together like this (previously only react and react-dom is bundled):
[code]

but Deno cannot process them because the links gave error

[2021-02-06 16:53] ije commented on #19
i just restarted the server, seems now it works

[2021-02-06 23:43] shadowtime2000 commented on #19
@quaos You shouldn't be using React Router though - Aleph has a builtin routing system that is meant to work with it.

[2021-02-07 04:46] jeffrey-l-turner opened #20 "Certificate Issue with esm.sh?"
I'm trying:
```deno cache --reload https://esm.sh/react@17.0.0```

and get:

[code]

[2021-02-07 05:13] ije commented on #20
the server is using let's encrypt tls

[2021-02-07 05:13] ije commented on #20
the server is using let's encrypt tls, i not sure what happened, can you open it in the browser?

[2021-02-08 23:00] hazae41 opened #21 "@types/prop-types build failed"
Hey, I try to build my website using aleph 3.0 alpha 8, but the following file failed to build

https://cdn.esm.sh/v13/@types/prop-types@15.7.3/index.d.ts

[code]

11:55:24 PM 02/08/2021: INFO Building...
11:55:25 PM 02/08/2021: INFO Download https://esm.sh/react@17.0.1
11:55:26 PM 02/08/2021: INFO Download https://cdn.esm.sh/v15/react@17.0.1/esnext/react.js
11:55:26 PM 02/08/2021: INFO Download h

[2021-02-09 01:33] shadowtime2000 commented on #21
I don't know for sure but I don't think esbuild is the best at DTS stuff

[2021-02-09 04:01] ije commented on #21
please clear the deno cache

[2021-02-09 04:02] ije commented on #21
https://cdn.esm.sh/v13/@types/prop-types@15.7.3/index.d.ts -> https://cdn.esm.sh/v15/@types/prop-types@15.7.3/index.d.ts

[2021-02-09 13:17] hazae41 commented on #21
It runs on a docker image

[2021-02-09 16:28] hazae41 commented on #21
Nevermind, I had the following line added mysteriously by VSCode

[code]

I removed it and it's fixed

[2021-02-09 16:28] #21 closed

[2021-02-09 19:31] jeffrey-l-turner commented on #20
It turned out to be a proxy issue with my "enterprise" Mac... I really hate these man in the middle TLS/SSLHTTPS proxies -- I think they represent huge security threats. Closing this.

[2021-02-09 19:31] #20 closed

[2021-02-10 09:54] evromalarkey opened #22 "@fullcalendar not working"
https://esm.sh/@fullcalendar/daygrid fails to load, you should check all @fullcalendar plugins though, I think it's because import css statement

[2021-02-10 10:11] ije commented on #22
@evromalarkey thanks, will fix it later

[2021-02-14 20:29] shadowtime2000 opened #23 "Auto Alias to Node Compat Layer"
Recently Skypack launched a feature kind of like what ESM.sh does - uses the node compat layer. Instead of having `deno bundle` stuff which needs to be committed they auto alias it to the URL to the node compat layer. I think this is a great feature as it removes the need to do chore commits to add the polyfills.

[2021-02-15 08:47] ije commented on #23
yeah, it's in the plan to match diffenert target via UA.

[2021-02-16 05:59] shadowtime2000 commented on #23
Sorry, but I don't really understand what this means? Can you clarify/expand?

[2021-02-16 21:22] ije commented on #23
i mean the serer will check the `User-Agent` header of the request, if it is from deno client, we will use the deno.land/std/node as ployfill, or do nothing

[2021-02-18 11:17] MichaelCurrin opened #24 "Fix JSON error in docs"
In Bundle Mode of README.md, I see this

[code]

Which causes markdown error validation on `...`

You can comment this out, but JSON does not allow comments so you'll still an error.

Solution: Use `json5` syntax which supports comments.

[code]

[code]

[2021-02-18 12:11] #24 closed

[2021-02-18 12:13] ije commented on #24
@MichaelCurrin thanks, i just removed the `json` lang specifier.

[2021-02-19 11:26] MichaelCurrin commented on #24
Using `json5` will keep the syntax highlighting, which is gone now.

[2021-03-04 22:37] yw662 opened #25 "Deno + esbuild: ReferenceError: require is not defined"
error: Uncaught ReferenceError: require is not defined
    at https://cdn.esm.sh/v15/esbuild@0.8.55/esnext/esbuild.js:8:1378
    at https://cdn.esm.sh/v15/esbuild@0.8.55/esnext/esbuild.js:1:754
    at https://cdn.esm.sh/v15/esbuild@0.8.55/esnext/esbuild.js:8:4069

I can find a `require("child_process")` in [esbuild.js](https://cdn.esm.sh/v15/esbuild@0.8.55/esnext/esbuild.js), which I think is what

[2021-03-04 23:44] shadowtime2000 commented on #25
esbuild seems like one of those projects that are too big/complex to be able to just use through a CDN for Deno support

[2021-03-04 23:46] shadowtime2000 commented on #25
Well kind of. esm.sh at the start of each file adds imports to all depenendcies and then creates a `require` function which takes the name of a package and just returns the result of that import. It seems `require` is being used but a `require` function at the top isn't being generated.

[2021-03-05 06:47] ShivamJoker opened #26 "Anyway to get intelligence in VS code ?"
I am importing React but I am not getting any autocompletion can anyone tell me what should be project config to get it working ?

[2021-03-05 07:52] ije commented on #26
@ShivamJoker  currently deno lsp don't suppport autocompletion yet.
fyi https://github.com/denoland/vscode_deno/issues/348

[2021-03-05 07:54] ShivamJoker commented on #26
@ije any example of react project without using any bundlers ?

[2021-03-08 17:42] RoXuS opened #27 "Issue since change on deno polyfill"
Hey team,

Since change on deno polyfill (last commits) we have an issue when we use our package from esm:

![image](https://user-images.githubusercontent.com/3296671/110359672-0e3ae300-803e-11eb-80e0-37d934dd88d6.png)

Example of usages:
`export { parseStringPromise } from "https://esm.sh/xml2js@0.4.23";`

[2021-03-08 18:03] RoXuS commented on #27
any way to stay on v15?

Something like this
`export { parseStringPromise } from "https://esm.sh/v15/xml2js@0.4.23";`

[2021-03-08 19:36] shadowtime2000 commented on #27
@RoXuS Try importing from like `https://cdn.esm.sh/v15/xml2js@0.4.23` or something like that

[2021-03-08 20:00] RoXuS commented on #27
yeah it is ok with v15!

[2021-03-08 20:37] RoXuS commented on #27
But we have to focus the file directly

https://cdn.esm.sh/v15/xml2js@0.4.23 -> redirect to v16
https://cdn.esm.sh/v15/xml2js@0.4.23/esnext/xml2js.js -> ok on v15

[2021-03-08 20:55] shadowtime2000 commented on #27
@ije Do you think for the time being until v16 is patched and stuff we can have esm.sh redirect to v15 and require explicit setting to use v16 with `cdn.esm.sh/v16/`?

[2021-03-09 12:12] ije commented on #27
i will revert the **v15**'s polyfills since the deno/std/node is not stable.

[2021-03-09 13:21] RoXuS commented on #27
you can't enable v15 and v16 at same time?

[2021-03-12 11:40] zhoukekestar opened #28 "Can't import library `https://esm.sh/is`"
[code]

[2021-03-12 16:30] ije commented on #22
fixed: https://esm.sh/@fullcalendar/daygrid, built css: https://esm.sh/@fullcalendar/daygrid?css

[2021-03-12 22:35] buttercubz opened #29 "can't load https://cdn.esm.sh/v15/_node_fs.js"
error message:
`
error: Uncaught SyntaxError: The requested module 'https://cdn.esm.sh/v15/_node_fs.js' does not provide an export named 'default' import __fs$ from "https://cdn.esm.sh/v15/_node_fs.js"; ~~~~~ at <anonymous>
`

[2021-03-13 04:08] ije commented on #29
try `deno --reload` ?

[2021-03-13 04:10] ije commented on #28
seems this is esbuild's limit

[2021-03-13 05:14] ije commented on #27
i just disabled the `events` polyfill of `std/node`, please try again `deno --reload`

[2021-03-13 15:04] RoXuS commented on #27
I get
![image](https://user-images.githubusercontent.com/3296671/111034396-b7eeeb00-8415-11eb-8b9f-db02f3f871a6.png)

During aleph build...

[2021-03-13 16:48] ije commented on #29
@buttercubz please use `https://esm.sh/...` instead of `https://cdn.esm.sh/v15/...`, since it switch to use deno `std/node` modules, after **v20** all polyills will be stored forever to get backward compatibility.

[2021-03-13 18:41] timreichen opened #30 "[BUG?]: error throw since update"
ref: https://github.com/timreichen/Bundler/issues/29#issue-830937557

`https://esm.sh/postcss-preset-env@6.7.0?no-check` returns
[code]
whereas before it didn't and worked as expected. My local cache file has this content:
[code]
Is this a bug?

[2021-03-13 19:58] #30 closed

[2021-03-13 19:59] ije commented on #30
fixed, pleae try again

[2021-03-15 14:44] #28 closed

[2021-03-15 15:31] wleonardo opened #32 "name export error"
https://esm.sh/domhandler

all name export is undefined
![image](https://user-images.githubusercontent.com/7393641/111178288-f2a77d80-85e5-11eb-8030-487876d4a9b4.png)

the problem is: name export not from domhandler.default

i think maybe we need reslove name export is from default or not

![image](https://user-images.githubusercontent.com/7393641/111179852-6b5b0980-85e7-11eb-958d-76d22bbd67df.png

[2021-03-15 15:46] #29 closed

[2021-03-15 15:47] #27 closed

[2021-03-17 11:57] ije commented on #32
deployed, thanks @wleonardo

<img width="852" alt="Screenshot 2021-03-17 at 19 56 40" src="https://user-images.githubusercontent.com/2883484/111463809-f4df1880-875a-11eb-92a0-68ea79ffe3c4.png">

[2021-03-17 12:04] #32 closed

[2021-03-17 14:17] RoXuS opened #34 "Strange esm.sh error"
Hey!

For some reason we can't start our project (this project is inside a docker and it was ok before last releases of esm.sh).

The error is the following:

[code]

[2021-03-17 15:30] ije commented on #34
@RoXuS fixed

[2021-03-21 20:07] timreichen opened #35 "[Error]: Import or export declaration"
I came across these errors while trying to download `html-minifier`. Is this intentional or can it be fixed?

[code]

[2021-03-22 06:25] ije commented on #35
please use `https://esm.sh/html-minifier?no-check` instead, the `@types/node` is very complex to fix to deno, i have a plan to write standalone types for node builtin modules in the future. currently i just implemented the namespce declearation: https://github.com/postui/esm.sh/blob/master/types/node.ns.d.ts

[2021-03-22 07:05] timreichen commented on #35
Thank you for your fast reply. That throws a different error concerning `require` though:
[code]

[2021-03-22 15:26] ije commented on #35
i just updated the server to handle the`require.resolve` in node module, but unfortunately it still can NOT work in deno since it needs to read some file in `node_modules` that is not exist after build.

[2021-03-23 20:27] talentlessguy opened #36 "Duplicate type declarations on some libraries"
## Problem

While trying to import [xss](https://npm.im/xss):

[code]

I came across with this error:

[code]

## Temporary solution

Add the `?no-check` to module URL.

[2021-03-23 22:02] trusktr opened #37 "Error with import('https://esm.sh/lume').then(console.log)"
[code]

gives

[code]

Any idea why?

[2021-03-23 22:09] trusktr opened #38 "named exports are missing"
[code]

results in logging `undefined` instead of the expected value.

Note that the `@lume/element` package follows modern ESM standards and it works in Node.js ESM, or any tools that strictly follow Node ESM standards (like Webpack 5+).

Here's what the entry looks like: https://unpkg.com/@lume/element

[2021-03-24 01:42] zhoukekestar commented on #38
Because esm.sh get named export by using `node` to eval your package.
You can get more details with fellow links:
* https://github.com/postui/esm.sh/blob/master/server/build.go#L290
* https://github.com/evanw/esbuild/issues/442

And your [@lume/package/dist/LumeElement](https://unpkg.com/browse/@lume/element@0.5.4/dist/LumeElement.js)  use `window` object which will cause the eval fail.

[2021-03-24 02:00] trusktr commented on #38
Yeah, it is a browser lib that uses `window`.

I think if the aim is to support `ESM`, the exports should be statically extracted without having to run the module. That's the whole benefit of ESM static imports (but not `import()` function).

Random ideas: use Babel or TypeScript compilers to get an AST, then read the exports from there. That would be a more realistic way to do it I think. It woul

[2021-03-24 02:14] ije commented on #38
@trusktr thanks, yes you are right, i have a plan to rewrite the `peer.js` using AST  to get right export names, but too busy currently...in fact there was a PR #33  to try to fix this but will affect other packages so i reverted. any way i will fix it ASAP

[2021-03-24 18:40] aadamsx commented on #10
Please add Deno support to Tailwind, I'm using Deno/Alephjs (React) and would really like to use Tailwind as I do in my Node/Nextjs (React) projects: https://github.com/alephjs/aleph.js/issues/42#issuecomment-806056884

[2021-03-26 12:58] evromalarkey opened #39 "vanillajs datepicker locales doesn't work"
https://esm.sh/vanillajs-datepicker/js/i18n/locales/cs.js doesn't load the locales files, I think this worked earlier - https://github.com/mymth/vanillajs-datepicker/blob/master/js/i18n/locales/cs.js

[2021-03-26 13:14] ije commented on #39
thanks, i will fix it ASAP.

[2021-03-27 06:52] ije commented on #39
fixed, please try again, thanks 🙏

[2021-03-27 06:52] #39 closed

[2021-03-27 11:22] noverby opened #40 "@Apollo/client module empty"
Importing the module https://esm.sh/@apollo/client returns the empty esbuild bundle:
https://cdn.esm.sh/v29/@apollo/client@3.3.13/esnext/client.js

Is this a bug in esm.sh or esbuild?

[2021-03-27 14:42] ije commented on #40
seems esm.sh didn't get right export, i will look into it, thanks!

[2021-03-29 08:30] evromalarkey commented on #40
hi @ije seems that same happend with https://cdn.esm.sh/stimulus@2.0.0/esnext/stimulus.js this worked earlier

[2021-03-29 16:04] #22 closed

[2021-03-29 18:52] ije commented on #40
fixed, pls try again, thanks

[2021-03-29 18:54] ije commented on #38
<img width="983" alt="Screenshot 2021-03-30 at 02 54 19" src="https://user-images.githubusercontent.com/2883484/112885348-3c728680-9103-11eb-8b2f-0e99eada10c5.png">
fixed, pls try again, thanks~

[2021-03-29 18:56] ije commented on #37
@trusktr  seems it is esbuild's issue, i will find out what happend, thanks

[2021-03-29 18:58] ije commented on #23
deno.land/std/node is not stable, so i moved back

[2021-03-29 18:58] #23 closed

[2021-03-29 19:03] ije commented on #15
<img width="649" alt="Screenshot 2021-03-30 at 03 02 58" src="https://user-images.githubusercontent.com/2883484/112886406-7d1ecf80-9104-11eb-89aa-074101737459.png">

[2021-03-29 19:03] ije commented on #15
fixed

[2021-03-29 19:03] #15 closed

[2021-03-29 19:03] #40 closed

[2021-03-29 19:04] #38 closed

[2021-03-29 19:09] ije commented on #26
@ShivamJoker sorry esm.sh is just a npm CDN as es module, pls google it~ thanks

[2021-03-29 19:09] #26 closed

[2021-03-29 19:09] #19 closed

[2021-03-29 19:13] noverby opened #41 "Error with @material-ui/core"
With v30 https://esm.sh/@material-ui/core does not work anymore.

It returns:
[code]

[2021-03-29 20:47] ije commented on #41
@noverby just fixed, please check again, thanks~ the latest updates get better compatibility for commonjs modules

[2021-03-29 20:52] noverby commented on #41
Thanks @ije. Yes it fixed it, but there is still Internal Server Error's with:
* react-dom
* graphql
* @apollo/client/utilities
* @apollo/client/link/ws

[2021-03-29 21:11] ije commented on #41
v32 fixed i guess...

[2021-03-29 22:02] noverby commented on #41
@ije now react broke. :)

[2021-03-29 22:03] noverby commented on #41
[code]

[2021-03-30 03:03] borsemayur2 commented on #41
I'm getting the same error.

[2021-03-30 05:28] FallingSnow commented on #41
Getting a similar error: no such file or directory

https://esm.sh/@fluentui/react
[code]

[2021-03-30 05:52] noverby commented on #41
React works now, but I'm still having issues with:
* @material-ui/data-grid
* @devexpress/dx-react-chart-material-ui

[2021-03-30 05:56] noverby commented on #41
[code]

[2021-03-30 06:21] ije commented on #41
@noverby  seems `@devexpress/dx-react-chart-material-ui` depends `react-dom` but did't declear it in the package.json, thanks for the detials, i will fix it asap 🙏

[2021-04-01 12:27] aegooby opened #42 "Error with `stripe` package"
Using the `https://esm.sh/stripe` package gives the error,
[code]
Trying with `https://esm.sh/stripe?no-check` gives,
[code]

[2021-04-01 14:46] ije commented on #42
stripe is using the `child_process` that is not supported by deno currently

[2021-04-01 14:50] aegooby commented on #42
According to [this issue](https://github.com/stripe/stripe-node/issues/997) and [this pull request](https://github.com/stripe/stripe-node/pull/775) in the Stripe repository it seems that they are moving towards removing the dependency on `child_process` so it can be used in CloudFlare workers, which has API similar to Deno with regards to Stripe according to the maintainers. It seems the only thin

[2021-04-01 16:03] ekanna opened #43 "Suggestion - Readme"
In Readme, change below line:

All modules are transformed to ESM by [esbuild](https://github.com/evanw/esbuild) in [NPM](http://npmjs.org/).

to

All [NPM](http://npmjs.org/) modules are transformed to ESM by [esbuild](https://github.com/evanw/esbuild).

OR

All  modules in [NPM](http://npmjs.org/) are transformed to ESM by [esbuild](https://github.com/evanw/esbuild).

[2021-04-01 17:05] ije commented on #43
@ekanna updated, thanks

[2021-04-01 17:05] #43 closed

[2021-04-02 06:57] zhoukekestar opened #44 "The unit test success rate for esm.sh is lower after refactoring"
Hey, @ije nice try for esm.sh 's refactoring to transform `node eval` to `ast parser`.
Better for some package like: `/@lume/element`, `/@lume/variable`.
But bad for some packages too, here is the details:

[Online Test for current esm.sh](https://g.alicdn.com/code/npm/@ali/esm-unit-test/0.0.6/detail.html?bases=https://esm.sh) : 66.23%
![Xnip2021-04-02_14-55-33](https://user-images.githubuserconte

[2021-04-02 07:01] zhoukekestar commented on #44
Maybe we need `node eval` and `ast parser` both for named export & packaging.

[2021-04-02 12:24] ije commented on #44
@zhoukekestar i think the AST parser is ok, guess the main problem is that i updated esbuild to **0.11**, the external module resolver needs to be updated too becuase i saw a lot **require is not defined** errors, i will fix it asap, thanks 🙏
btw the testing looks amazing, can you please share it for me?

[2021-04-03 02:25] zhoukekestar commented on #44
Thanks for your hard working, the unit test is  very simple which is written in native JavaScript. I will open-source it if you need this so that we can deliver esm.sh with confidence.

[2021-04-03 16:02] ije commented on #44
<img width="1112" alt="Screenshot 2021-04-04 at 00 01 29" src="https://user-images.githubusercontent.com/2883484/113484034-ea51ac80-94d8-11eb-9b45-ec1948bd1e5f.png">
i added a simple testing page, do you have interest in improving it? thanks

[2021-04-03 16:03] ije commented on #44
you can update it in here: https://github.com/postui/esm.sh/blob/master/embed/assets/testing.js

[2021-04-03 16:05] ije commented on #44
run the testing in `http://localhost/?test`

[2021-04-03 16:09] ije commented on #44
btw, i added a build queue instead of mutex lock that can use the multiple CPU units. in my computer(i7 8 cores) it got almost 7x build speed faster!

[2021-04-06 02:00] zhoukekestar commented on #44
Great, that's awesome!

[2021-04-06 05:06] cdaringe opened #45 "/* esm.sh - error */ no such file or directory"
# Problem

`import toMarkdown_ from "https://esm.sh/mdast-util-to-markdown";` yields => `Error: Unable to resolve media type for specifier: "https://cdn.esm.sh/v35/mdast-util-to-markdown@0.6.5/types.d.ts"`

https://cdn.esm.sh/v35/mdast-util-to-markdown@0.6.5/types.d.ts yields:

[code]

Seems like the cache is corrupt, or a bad references is produced

[2021-04-06 05:23] cdaringe commented on #45
hmm. running the go server in `--dev` i see:

[code]

`copyDTS` seems to be a common issue 🤔

[2021-04-06 05:48] cdaringe commented on #45
![image](https://user-images.githubusercontent.com/1003261/113664580-db960180-9660-11eb-9718-c39837fd4940.png)

i'm not a go expert, but it seems that this `NpmPackage` is being treated like a sub-module, and the fact that it's a std module w/ a top level `types` field isn't being respected in `build.go`

[2021-04-06 06:07] timreichen opened #46 "[error]: break after update"
https://github.com/timreichen/Bundler/issues/31: `https://esm.sh/postcss-preset-env` breaks with the newest update where in the past it didn't. Do you think there is an easy fix?

[2021-04-06 06:11] cdaringe commented on #45
mmm, maybe it's https://github.com/syntax-tree/mdast-util-to-markdown/blob/main/package.json -- i see no main or module. but there is an index.js !

very interestingly, this used to work. back on esm.sh v29 (in my deno cache!) i was able to d/l that package!

[2021-04-06 06:18] shadowtime2000 commented on #46
It seems like for some pretty popular utility packages esm.sh isn't sending the correct header for media type or something. Here is another issue related that seem to be caused by this:

[alephjs/aleph.js#253](https://github.com/alephjs/aleph.js/issues/253)

[2021-04-06 12:41] zhoukekestar commented on #44
We just need check `variable` exist or not in most case. If esm.sh import works and has no-undefined variable, it's always works for me.

[2021-04-06 17:02] timreichen commented on #46
@ije maybe it would be a good way to be able to specify the esm.sh version that one wants to use? For example `https://esm.sh/v27/postcss@8.2.2` with the `v27` to avoid sudden breaks? We already can do it but it will download dependencies with `v35`.

[2021-04-06 21:42] FallingSnow opened #48 "@fluentui/react now fails"
https://esm.sh/@fluentui/react@8.9.0
[code]

Used to work but now displays this error.

[2021-04-07 01:45] zhoukekestar commented on #44
Some hack details maybe useful for you to pass all unit test:
* named export solution PRed by @wleonardo
* some npm packaged by webpack
* some npm use browser entry directly. For example: https://unpkg.com/browse/yargs@16.2.0/browser.mjs
* some necessary polyfill like: @jspm/core & entends it. For example: https://github.com/jspm/jspm-core/issues/13
* some named export like `arguments` seems NO-SO

[2021-04-07 03:33] ije commented on #48
i will fix it ASAP, thanks @FallingSnow

[2021-04-07 17:13] ije commented on #48
fixed, please try again, thanks

[2021-04-07 17:17] ije commented on #46
esm.sh now have a testing page at `https://esm.sh/?test`, and i will add more edge cases to ensure each update will NOT break the previous builds.

[2021-04-07 17:36] timreichen commented on #46
That is great. I hope you will add `typescript`, `postcss`, `posthtml`, `terser`, `csso`, `svgo`, and `postcssPresetEnv` as test cases, for now I get a completely new error, I don't know from which module:
[code]

[2021-04-07 17:47] shadowtime2000 commented on #46
Stack traces which map errors to a specific module would be cool

[2021-04-07 23:08] FallingSnow commented on #48
Great, thank you! @fluentui/react now loads.

It seems `https://cdn.esm.sh/v38/@fluentui/utilities@8.0.3` is not produced correctly though.
[code]

It is exported:
https://github.com/microsoft/fluentui/blob/dab45a2afe609709735b9b6e604a1af40d50e809/packages/utilities/src/index.ts#L74

[2021-04-07 23:13] FallingSnow commented on #48
The following does work.
[code]

[2021-04-08 19:13] brmcerqueira opened #49 "I can't reference any package in my project"
I can't reference any package in my project. I think exists a problem with ESM.SH CDN.

![image](https://user-images.githubusercontent.com/11597587/114083087-f5b02980-9884-11eb-8534-ade28fce9cd6.png)

[2021-04-08 22:32] FallingSnow commented on #48
Hmmm, seems to be a new error today:
https://cdn.esm.sh/@fluentui/utilities@8.0.3
[code]

[2021-04-09 08:11] ije commented on #49
fixed, it is a bug since i updated the postdb, sorry for that!

[2021-04-09 08:11] #49 closed

[2021-04-09 08:13] ije commented on #48
fixed, it is a bug by upgrading the postdb mod, sorry for that!

[2021-04-10 01:51] FallingSnow commented on #48
No worries. The `IsFocusVisibleClassName` error still persists though.

[2021-04-10 09:59] ije commented on #46
@shadowtime2000 now it is, the `_error.js` will point out the importer.

[2021-04-10 10:02] ije commented on #46
@timreichen that error means it can not work in browser, even deno/std/node doesn't support the **inspector**: https://deno.land/std@0.92.0/node#experimental

[2021-04-10 12:56] timreichen commented on #46
@ije hmm, in that case maybe postcss added that dependency lately? Because bundler used the esm postcss module without any problems until the esm update.

[2021-04-10 14:50] ije commented on #46
@timreichen try **bundle** mode, esm.sh will wlill bundle all dependencies previously, now it will import all dependencies as url.

[2021-04-11 08:07] timreichen commented on #46
@ije turns out it is not the `postcss` but `typescript` module that throws the error.
`https://esm.sh/typescript@4.2.4` throws
[code]
the bundle mode version throws the same error. Why does it now where before it didn't? Maybe instead of throwing during check, it would be better to log a warning and export an empty object or a proxy which throws the error at runtime, so that the module still can b

[2021-04-11 10:58] ije commented on #46
@timreichen i see, will add a fake polyfill for it to avoid throw an error

[2021-04-11 16:25] ije commented on #46
<img width="818" alt="Screenshot 2021-04-12 at 00 24 47" src="https://user-images.githubusercontent.com/2883484/114312539-8efd6b00-9b25-11eb-8184-1381d2388f12.png">

@timreichen i just add the inspector polyfill, seems it can work now.

[2021-04-11 16:39] timreichen commented on #46
Amazing, thank you! I think this might fix a lot of other errors too. Maybe it would be a good idea to add these fake polyfills for all std/node apis that are not supported (yet) by deno to have other modules partially work as well?

[2021-04-11 17:59] noverby opened #50 "Could not resolve "react/v39/object-assign@4.1.1/deno/object-assign""
I have not much to add other than the error:
[code]

[2021-04-11 18:20] noverby opened #51 "Argument of type 'TransformerFactory<SourceFile>' is not assignable to parameter of type 'TransformerFactory<SourceFile> | CustomTransformerFactory'"
I'm not sure if this is an aleph.js or an esm.sh issue:
[code]

[2021-04-12 13:55] lubomirblazekcz opened #52 "esbuild: Could not resolve vanillajs-datepicker locales"
https://esm.sh/vanillajs-datepicker@1.1.2/js/i18n/locales/cs.js doesn't work

this worked previously in version 16 https://cdn.esm.sh/v16/vanillajs-datepicker@1.1.2/esnext/js/i18n/locales/cs.js

[2021-04-12 16:37] ije commented on #52
<img width="846" alt="Screenshot 2021-04-13 at 00 36 34" src="https://user-images.githubusercontent.com/2883484/114429831-5ffffb80-9bf0-11eb-80a2-13e1ccab8206.png">

it seems the esbuild can not handle this

[2021-04-12 16:45] ije commented on #52
https://github.com/evanw/esbuild/issues/1143

[2021-04-12 16:55] ije commented on #50
Same as #52

[2021-04-12 17:01] ije commented on #52
i found https://esm.sh/vanillajs-datepicker/locales/cs can work fine

[2021-04-12 17:07] ije commented on #52
<img width="761" alt="Screenshot 2021-04-13 at 00 59 16" src="https://user-images.githubusercontent.com/2883484/114433092-fe419080-9bf3-11eb-9f46-f03794bab5f6.png">

since esbuild will respect the `exports` in package.json

[2021-04-12 17:08] evromalarkey commented on #52
yeah looking at it now, that's a good workaround, thanks!

[2021-04-12 17:14] ije commented on #52
hmm, https://mymth.github.io/vanillajs-datepicker/#/i18n?id=adding-languages has tips!

[2021-04-13 02:08] ije commented on #50
where you got this error？object-assign is not the sub module of react

[2021-04-13 09:02] noverby commented on #50
It is just the console output with the following page:
[code]

[2021-04-14 08:23] FallingSnow commented on #48
Ok so if we look at `.aleph/development/-/cdn.esm.sh/v40/@fluentui/utilities@8.0.4/deno/utilities.development.js` we see
[code]

However if we look at the `var { ... } = lib_exports;` line at the end of the file, `IsFocusVisibleClassName` is no where to be found.

[2021-04-14 08:48] FallingSnow commented on #48
Also it does seem that esbuild does export this correctly.

Install dependencies:
[code]

Create app.ts:
[code]

Compile and run (node/browser preset):
[code]

[2021-04-15 18:21] ije commented on #48
@FallingSnow thanks for the details, i will look into it!

[2021-04-16 11:29] KamiC6238 opened #53 "<!--function(a,o,s,u){return lt(e,a,o,s,u,!0)}--> when i use 'import Vue from vue'"
![image](https://user-images.githubusercontent.com/23523595/115017991-e450c800-9ee9-11eb-9e51-5f651732a6fa.png)
![image](https://user-images.githubusercontent.com/23523595/115018070-fc284c00-9ee9-11eb-9327-bcd6dce0d8e8.png)
![image](https://user-images.githubusercontent.com/23523595/115018087-021e2d00-9eea-11eb-9d1f-d0fbab023621.png)

how can i make the code work?

[2021-04-16 16:44] Miloas commented on #53
that's because `import from vue` doesn't contain comipiler

https://github.com/skypackjs/skypack-cdn/issues/78

[2021-04-16 22:19] ije commented on #53
please check https://esm.sh/?test, vue2/vue3 can work fine.

[2021-04-17 08:08] #53 closed

[2021-04-18 01:31] rok-star opened #54 "Deno support but React"
Hi,

Main esm.sh page shows that I can use React with Deno.
Indeed, when I create a new index.tsx file, import react from esm.sh and add a simple react component VS Code (with enabled Deno plugin) does not complain about it.

But when I add render(<App />, document.getElementById('root')) VS Code starts complaining about document symbol and offers me to include "dom" to "lib" property in tsconfig.

[2021-04-18 01:32] shadowtime2000 commented on #54
What is the exact code you are bundling, and what is the bundled code?

[2021-04-18 19:55] rok-star commented on #54
I updated Deno to the latest version ```1.9```. And now everything works fine. I added ```"lib": ["dom", "ES2015"]``` to ```tsconfig.json```

![Screenshot from 2021-04-18 22-54-36](https://user-images.githubusercontent.com/3323864/115158879-19e7e380-a099-11eb-9a54-9724e215f9c5.png)

[2021-04-20 00:48] naivefun opened #55 "how to support private npm registry?"
Does it support?

[2021-04-20 01:18] shadowtime2000 commented on #55
I have never used a private NPM registry, but probably not. I don't think supporting a private NPM registry is worth it for the CDN. I think there was a CLI or api planned from which it would make more sense to add private npm registry support.

[2021-04-20 02:09] #55 closed

[2021-04-21 00:11] KotlinIsland opened #56 "Support import completions in the deno lsp"
[import-completions-in-the-lsp](https://deno.com/blog/v1.9#import-completions-in-the-lsp)
[registry completions documentation.](https://github.com/denoland/vscode_deno/blob/main/docs/ImportCompletions.md#module-registry-completions)

[2021-04-21 19:15] #46 closed

[2021-04-22 09:38] naivefun opened #57 "https://esm.sh/react-color is not loading"
cannot get response for this module

https://unpkg.com/react-color/
https://www.npmjs.com/package/react-color

[2021-04-22 11:07] ije commented on #57
i will look into it, thanks

[2021-04-23 07:56] ije commented on #57
now i can get the error message, seems esbuild doesn't work expectedly on linux, on macos it works fine:

[code]

[2021-04-24 08:19] timreichen opened #58 "Typescript dts files"
Seems like dts files are not correctly transformed.
[code]
[code]

[2021-04-27 23:27] shadowtime2000 commented on #54
It might have been a bundler bug in Deno

[2021-04-28 03:11] #54 closed

[2021-05-02 00:57] aegooby opened #59 "Typescript declaration conflicts"
Might be related to #58; importing several packages that depend on different versions of `@types/[package]` for the same package seems to cause major issues. For example, trying to import `react` and `react-dom-router@next` will use `@types/react@17.0.2` and `@types/react@17.0.3` which will lead to TS errors due to things being declared twice. Can be reproduced with the following code:
[code]
This

[2021-05-04 22:14] deviprsd opened #60 "Question: What is the point of deps?"
The output generated in your example is pretty much the same as using `deps` than not using it. What is the point really?

https://esm.sh/swr?deps=react&dev vs https://esm.sh/swr?dev

https://www.diffchecker.com/4QPpVmy7

[2021-05-07 06:23] DanielKehoe opened #61 "console message: esm.sh cannot find requested imports"
I'm making a comparison of module CDNs.

I have a series of test pages for module CDNs:

- https://install.guide/test/esm-pinned.html
- https://install.guide/test/esm-unpinned.html
- https://install.guide/test/jsdelivr-pinned.html
- https://install.guide/test/jsdelivr-unpinned.html
- https://install.guide/test/jspm-importmaps.html
- https://install.guide/test/jspm-pinned.html
- https://install.gui

[2021-05-08 08:06] #35 closed

[2021-05-14 12:41] fonsp commented on #60
The point is that you can specify exactly **which version** of `react` will be used by `swr` (which depends on `react`). In your example, you did not specify a version for `react`, in which case it does nothing.

Take a closer look at the example on the README. If you do not specify a react dependency version in the `swr` import, then it will load the latest compatible version of `react`, which ca

[2021-05-15 15:40] ije commented on #60
as @fonsp said, you need to point the `react` version or the latest will be used

[2021-05-15 15:40] #60 closed

[2021-05-15 15:50] ije commented on #61
i didn't test all packages since i built this for alephjs, in http://esm.sh/?test you can see some packages I focused on. i will look into it, thanks!
btw install.guide looks awesome, nice work

[2021-05-16 05:26] noverby opened #63 "Double .js file extension"
Some files are only available with double .js file extension:
https://cdn.esm.sh/v41/popper.js@1.16.1-lts/deno/popper.js.js

Instead of the expected:
https://cdn.esm.sh/v41/popper.js@1.16.1-lts/deno/popper.js

[2021-05-17 17:09] talentlessguy opened #65 "http://esm.sh/balance-crypto not working"
URL: http://esm.sh/balance-crypto

Error:

[code]

Module dist/index.js file is an ESM file with one named export.

https://npmfs.com/package/balance-crypto/0.2.6/dist/index.js#L456

why would it break on no default export?

[2021-05-18 12:29] ije commented on #65
thanks, i will look into it

[2021-06-01 20:43] codehz opened #68 "http://esm.sh/doctypes got exception"
http://esm.sh/doctypes

[code]

[2021-06-01 21:00] codehz opened #69 "parameter ?no-check didn't apply to sub-resources"
as title, it only disabling the X-Typescript-Types in top level

[2021-06-04 07:52] fakership opened #70 "antd do not work"
https://codesandbox.io/s/silly-blackwell-nm3qe?file=/index.html

if i use bundle antd and react to do a simple demo, react will throw an error

error:

![image](https://user-images.githubusercontent.com/16553183/120911846-03cfca00-c6bd-11eb-87e1-7821ff20862d.png)

https://reactjs.org/docs/error-decoder.html/?invariant=321

[2021-06-04 07:58] fakership commented on #70
help!

[2021-06-04 08:04] fakership commented on #70
@ije @asafamr @zhoukekestar @MarkTiedemann

[2021-06-04 09:59] Bowen7 opened #71 "deps query not working"
[code]
will load the latest react

![image](https://user-images.githubusercontent.com/27432981/120784133-56df3b00-c55e-11eb-9759-a9ae9b7ea108.png)

[2021-06-04 12:47] MarkTiedemann commented on #70
Hello @fakership.

Please don't tag random contributors in your issue. In general, people can voluntarily subscribe to the issues of a repository and will then receive a notification if a new issue is opened. I, for one, am not subscribed to this repository's issues - and just because I contributed to this repository once, I don't want to be notified about your issue. Again, in future, please don'

[2021-06-06 03:52] fakership commented on #70
I am so sorry for my incorrect tag

[2021-06-06 21:42] MarkTiedemann commented on #70
@fakership Here's a minimal example of using `antd` via [esm.sh](https://esm.sh). It works just fine, there's no issue.

[code]

[2021-06-07 02:56] fakership commented on #70
thank you very much, the difference is i use the bundle antd,  which will bundle react in antd, which has conflict the outer react

[2021-06-07 08:51] MarkTiedemann commented on #70
Okay. But that's not an issue with [esm.sh](https://esm.sh), but an issue with `antd`/`react`, right?

PS: There should be a "Close" button that you can use to close this issue, if it's fixed in your opinion.

[2021-06-08 02:32] #70 closed

[2021-06-08 02:32] fakership commented on #70
done

[2021-06-11 08:51] SeasonCCC opened #73 "Self hosting"
I have 2 suggestions:

1. Can you tell us more about how to do self hosting such as using docker?
2. It is possible to develop a project in node.js ?
 The reason is because many users are front-end engineer, they are familiar with javascript and node.js.

[2021-06-12 00:48] FallingSnow commented on #73
1. They directions in the readme should really be changed to
[code]

This is only really help you if you change your source files to look for `https://localhost/...`.

[2021-06-12 02:12] FallingSnow commented on #73
Getting this setup as a proxy to esm.sh is a major pain though. I got up to the point where I used `import_maps.json` to fool deno into going to `localhost` for esh.sh content. But it kept complaining of being unable to send `https` traffic to an `http` address. And deno doesn't have any ability to accept invalid certificates. So the only solution is to give localhost a valid certificate. Oh and t

[2021-06-12 02:17] FallingSnow opened #74 "Some modules with deno target return 404 on v41"
I'm not sure why but modules are returning 404 on v41 but not v40...

https://cdn.esm.sh/v41/camel-case@4.1.2/deno/camel-case.development.js
vs
https://cdn.esm.sh/v40/camel-case@4.1.2/deno/camel-case.development.js

[2021-06-12 03:16] ije commented on #73
@FallingSnow  esm.sh use autotls to get let's encrypted's certificate, in dev you should use http://localhost/...

[2021-06-12 03:24] FallingSnow commented on #73
I'm trying to spoof esm.sh to fix some issues in aleph.

[2021-06-12 03:29] ije commented on #74
seems it is ok for me

[2021-06-12 03:33] FallingSnow commented on #74
Returns
[code]
for me.

[2021-06-17 03:40] fakership opened #76 "Support storage interface"
i have a question about code， the  `esm.x-static.io`  should be a cdn domain，but i can not find when you upload the resource in stoage|type to cdn。

[2021-06-18 02:54] fakership commented on #76
help

[2021-06-23 04:21] ije commented on #76
normally, you don't need to upload the files, CDN will cache files on demand

[2021-06-23 06:20] fakership commented on #76
the question is that if you first visit https://esm.sh/react for example，you will store it in storage/builds dir，and esm.x-static.io will back-to-source the esm.sh server to get the resource,  is right?
but, you have to ensure that the react have to always exits in storage/builds dir disk, or you will rebuild, so how can ensure the resource always exist in docker?

[2021-06-23 06:21] fakership commented on #76
i am really confused, thank you

[2021-06-23 06:21] fakership commented on #76
you mean back-to-resource ?

[2021-06-23 06:25] fakership commented on #76
and how deal with multi instance

[2021-06-23 15:39] #71 closed

[2021-06-23 17:13] ije commented on #74
i believe this has been fixed in https://github.com/postui/esm.sh/commit/453acac1ffdec00a3d269169aba73c5643bdef28

[2021-06-23 17:23] ije commented on #76
i see, maybe we can implement a storage interface in the future to store builds to any location, like aws-s3/aliyun-oss for example, for now we store files in local fs.

[2021-06-25 13:42] jaydenseric opened #77 "Unexplained esbuild error"
I'm struggling to figure out what the problem is with this URL:

https://esm.sh/react-waterfall-render@2.0.0/public/waterfallRender.js?target=deno

It result in a HTTP 500 status:

[code]

Is this code not compatible with esm.sh, or is this a bug with the service? There isn't an obvious bundling error, as that package actually has a passing `esbuild` bundle test:

https://github.com/jaydenseric/re

[2021-06-25 14:45] ije commented on #77
@jaydenseric thanks, i will look into it.

[2021-06-28 01:54] jaydenseric commented on #77
@ije what was the unexpected `esbuild` output, so I can investigate? Maybe it's something simple. I'm blocked at the moment.

[2021-06-28 02:40] jaydenseric commented on #77
Another clue; importing the same thing via the package index instead of a deep import appears to work:

[code]

We need deep imports to work though.

[2021-06-30 05:31] jaydenseric commented on #77
Getting desperate, so many packages I depend on have the same error. Here's another example:

https://esm.sh/graphql-react@15.0.0/public/Cache.js

[2021-06-30 08:58] ije commented on #77
I will fix it asap！

[2021-07-01 02:42] jaydenseric opened #78 "Relative imports shouldn't be bundled"
At the moment, relative imports within a module are incorrectly bundled into the module, for example:

https://esm.sh/graphql-react@15.0.0/public/index.mjs

[code]

If you then open https://cdn.esm.sh/v43/graphql-react@15.0.0/es2020/public/index.mjs.js :

<details>
  <summary>File contents…</summary>

[code]
</details>

This is not right at all. This is what the file is supposed to contain:

https

[2021-07-01 02:50] jaydenseric commented on #65
Same issue for a bunch of packages, for example:

https://esm.sh/graphql-react@15.0.0

[code]

It's figuring out the right root module using `package.json` `exports` field:

https://github.com/jaydenseric/graphql-react/blob/v15.0.0/package.json#L37

But I don't know why it's attempting to make a default import from that file, since there is none:

https://unpkg.com/browse/graphql-react@15.0.0/publ

[2021-07-12 07:16] codehz opened #79 "[Feature request] customize X-TypeScript-Types"
Usecase:
The upstream type definition is not good enough or even doesn't exists

Workaround:
* DENO
use `// @deno-types="xxx"` before import statment
problem:
you need write it many times if you have reference it in many files

Propose change:
add options: `?dts=<custom url>` and make server response with this custom url as X-TypeScript-Types

[2021-07-12 16:08] glen-84 opened #80 "Support for building Sass"
Would it be possible to add support for building Sass files?

https://esm.sh/vuetify@next

throw new Error("[esm.sh] " + "esbuild: No loader is configured for \".sass\" files: esm-build-18733500f98f2f68be0fd12fb31cbfc2c013325f/node_modules/vuetify/lib/components/VAlert/VAlert.sass");
export default null;

Maybe with something like https://github.com/glromeo/esbuild-sass-plugin/?

[2021-07-16 08:31] codehz opened #81 "cannot use react-flip-toolkit (and other react library) in deno(type checking problem)"
[code]

got `type 'Flipper' cannot be used as a JSX component. Its instance type 'Flipper' is not a valid JSX element.`

another lib that same problem: overlayscrollbars-react

[2021-07-17 05:08] codehz opened #82 "@types/react@17.0.2 type definition build failed"
https://cdn.esm.sh/v43/@types/react@17.0.2/index.d.ts

and it make many react library stop working with deno lsp

PS:

some library (like [this](https://cdn.esm.sh/v43/framer-motion@4.1.17/types/components/LazyMotion/types.d.ts)) reference https://esm.sh/v43/react@17.0.2/index.d.ts
but it is also wrong:
-> `import * from "https://cdn.esm.sh/v41/react@17.0.2/es2020/index.d.ts.js"`
-> `import{defaul

[2021-07-17 05:08] #81 closed

[2021-07-19 22:27] Ristovski opened #83 "`@ungap/is-connected@0.2.0`: No matching export in [...]"
https://cdn.esm.sh/v43/@ungap/is-connected@0.2.0/esnext/is-connected.js

[code]

[2021-07-21 01:07] voxsoftware opened #84 "Please enable target=node"
Hi, I made a custom nodejs runtime, [https://github.com/kwruntime/core](https://github.com/kwruntime/core) that works with imports similar to Deno (allowing imports from URLs, typescript out the box, and full ES2020 syntax without .mjs extension), but of course with all nodejs ecosystem.

I see this website, a very cool, but i see your website don't expose feature target=node10, target=node12, etc

[2021-07-21 03:15] codehz opened #85 "failed to import ogl"
https://esm.sh/ogl
[code]

it seems the original library has already in esm format (https://github.com/oframe/ogl)
but no default export for entry point

[2021-07-21 04:07] ije commented on #84
@voxsoftware thanks, great idea! i will implement this ASAP!

[2021-07-21 04:08] ije commented on #85
@codehz thanks I'll look into it!

[2021-07-21 04:45] voxsoftware commented on #84
Thanks. I hope will be available soon. Please let me know.

[2021-07-28 14:17] motss opened #86 "Use latest nodejs LTS"
The `node` version that is used should be updated to the [latest version](https://nodejs.org/en/download/releases/)

[2021-07-28 14:59] #86 closed

[2021-07-30 15:28] lucacasonato opened #88 "Specifying external deps does not work for type definitions"
[code]

As you can see, `preact@10.5.13` is being imported for type definitions.

[2021-07-30 15:45] lucacasonato opened #89 "Support aliasing dependencies"
For example:

[code]

And in combination with `?deps`:

[code]

Especially useful for react -> preact :-)

Also, do you accept sponsorship anywhere?

[2021-07-30 16:51] ije commented on #89
@lucacasonato thanks, it is a great idea, i will add this feature in few days!  and thanks vary much for the kind sponsorship ask but i can't accept it since github Sponsors doesn't work in my country :(

[2021-07-30 16:51] ije commented on #89
@lucacasonato thanks, it is a great idea, i will add this feature in few days!  and thanks vary much for the kind sponsorship ask but i can't accept it since github Sponsors doesn't work in my country :(

[2021-07-30 16:55] ije commented on #88
thanks, will look into it

[2021-07-30 17:33] lucacasonato commented on #89
Aw, that's very unfortunate. If I can help out in any other way (hosting infrastructure cost for example), please hit me up on Discord. And once Sponsors becomes available on your country, please ping me!

[2021-07-30 21:49] shadowtime2000 commented on #89
Could be possible expanded to have official deno packages used.

[code]

[2021-08-06 11:36] lucacasonato opened #90 "preact/hooks import not replaced in hoofd/preact module"
In `https://cdn.esm.sh/v43/hoofd@1.3.1/deno/preact.js`, there is a bare module specifier import to `"preact/hooks"`. This shsould be a `cdn.esm.sh` import.

[2021-08-07 21:39] ije commented on #89
@lucacasonato @shadowtime2000 **Aliasing** can work now, pls try `https://esm.sh/swr?alias=react:preact/compat`

[2021-08-07 21:41] ije commented on #90
fixed in `v44` branch

[2021-08-07 21:41] #90 closed

[2021-08-07 21:42] ije commented on #85
fixed in `v44` branch

[2021-08-07 21:42] #85 closed

[2021-08-07 21:45] ije commented on #83
fixed in `v44` branch

[2021-08-07 21:45] #83 closed

[2021-08-07 21:45] ije commented on #77
fixed in `v44` branch

[2021-08-07 21:45] #77 closed

[2021-08-07 21:45] ije commented on #65
fixed in `v44` branch

[2021-08-07 21:45] #65 closed

[2021-08-07 21:46] ije commented on #48
fixed in `v44` branch

[2021-08-07 21:46] #48 closed

[2021-08-07 21:46] ije commented on #41
fixed in `v44` branch

[2021-08-07 21:46] #41 closed

[2021-08-07 22:48] mashaal commented on #89
@ije This looks like it's broken deps in some of my projects.

https://esm.sh/wouter?deps=react@alpha

[code]

I might be remembering incorrectly, but I thought deps was passed into the exports in these statements: ie: `v44/wouter?deps=react@alpha`?

[2021-08-07 23:07] ije commented on #89
@mashaal alias is different with deps, it is used to replace deps as Luca asked, you can use the `deps` as before that allows you control the dependencies with specific version

[2021-08-07 23:08] ije commented on #89
but yes the URL is changed when you passed `?deps`

[2021-08-08 04:26] ije commented on #80
i have a plan to support this, but we can not use the plugin directly since the server is written in golang

[2021-08-08 07:39] lucacasonato commented on #90
Thanks!

[2021-08-08 09:10] #88 closed

[2021-08-08 13:21] SeparateRecords opened #92 "Importing ajv@8.6.2/dist/standalone times out in Deno, fails on web"
It just started failing in CI today, seems to be after the most recent update.
Here's the error:

[code]

Same thing with `ajv@8.6.2/dist/jtd`.

Viewing from a web browser, this is the generated code:

[code]

Thanks for all your hard work on esm.sh!

[2021-08-08 13:24] ije commented on #92
@SeparateRecords thanks, i will into it ASAP

[2021-08-08 14:06] #92 closed

[2021-08-08 17:05] ije commented on #92
@SeparateRecords  fixed in e262204

[2021-08-10 09:05] guiguan opened #93 "v44 build problem"
This was working just fine in v43:

[code]

but now in v44, I got:

[code]

[2021-08-10 15:16] Nitive opened #94 "Error 500 got cached on Cloudflare"
I'm getting error when I try to download file. Seems like there was a problem on a server then it was fixed but error is still cached on Cloudflare

[code]

Expected result: errors should not be cached or at least not a long period of time

[2021-08-10 17:25] roseMix opened #95 "`/* esm.sh - error */`"
This file gives an error:
https://cdn.esm.sh/v44/xlsx@0.17.0/types.d.ts

[code]

This gets automatically loaded from https://esm.sh/xlsx , which makes that unusable.

[2021-08-10 18:53] #93 closed

[2021-08-10 18:53] #95 closed

[2021-08-10 19:00] ije commented on #94
pls try **v45** build: https://cdn.esm.sh/v45/@kubernetes/client-node@0.15.0/deno/dist/gen/model/v1ServiceAccount.js

[2021-08-10 19:00] #94 closed

[2021-08-10 19:00] ije commented on #95
@roseMix thanks, just fixed in v45 build

[2021-08-10 19:00] ije commented on #93
@guiguan thanks, just fixed in v45 build

[2021-08-10 19:22] ije commented on #78
this will be imporved only for bundler which supports *tree-share*, but for browser/deno all exports in `index.mjs` will be imported even not used

[2021-08-10 19:28] ije commented on #78
for example, if you import d3 (esm) in browser using unpkg.com, you may say there are hundreds js files will be imported that takes a lot of time in network, but with esm.sh there are only **32** bundled files need

[2021-08-11 00:09] jaydenseric commented on #78
For people that _want_ to bundle a particular import it should be opt-in via a URL query string parameter.

esm.sh already has the [`bundle` query string parameter](https://github.com/postui/esm.sh#bundle-mode), although that currently only controls if external dependencies within the module being imported get bundled. Intuitively it should control all kinds of bundling, by accepting a value. E.g.

[2021-08-11 05:36] ije commented on #78
@jaydenseric can you please list the packages you can't used?

in fact i already tried remove the internal bundling, but some packages is hug with lots of deps that is hard to esm.sh since the server just have 4 cpu cores  for the build queue, this let you wait long time until the first build is done! even it's really in cdn cache you also need more time to import specially your browser doesn't ha

[2021-08-11 12:34] guiguan opened #96 "v45 transpiling problem with the latest aleph.js on feat-0.3-beta branch"
Hi, after upgrading to v45, my app got this error in browser with both SSR and non-SSR:

[code]

The app is using the latest aleph.js on feat-0.3-beta branch, which was working just fine with v43. However, your alephjs.org works fine with v45. Any idea what could be the cause?

[2021-08-11 15:57] ije commented on #96
@guiguan try to clean the cache in `deno info`

[2021-08-11 20:29] talentlessguy opened #97 "get-ens server error 500"
http://esm.sh/get-ens

https://github.com/talentlessguy/get-ens

[code]

I checked and all of the direct dependencies separately build fine

here's the repo: https://github.com/talentlessguy/get-ens

[2021-08-11 22:14] ije commented on #97
just fixed, this package is hug btw...

[2021-08-11 22:17] ije commented on #97
the bugfix can work in my macbook, but server is still broken, will look into it

[2021-08-11 22:21] ije commented on #97
seem the final error is: `error Couldn't find the binary git`

[2021-08-11 22:25] talentlessguy commented on #97
@ije a post install script I guess

[2021-08-12 06:30] pionxzh opened #98 "Video.js break after update"
We used [https://esm.sh/video.js@7.11.8?bundle](https://esm.sh/video.js@7.11.8?bundle) for several months, but recently (like 3~4 days ago maybe) it throw this error:
[code]

At first I follow the instruction in other issues to specific the esm.sh version, but it turned out...
[https://esm.sh/v45/video.js@7.11.8?bundle](https://esm.sh/v45/video.js@7.11.8?bundle)
[https://esm.sh/v44/video.js@7.11.8

[2021-08-12 10:10] guiguan commented on #96
@ije after removing the cache `deno info`, I got another error:

[code]

[2021-08-12 10:20] ije commented on #98
@pionxzh thanks, i will fix this later.
as you can see https://cdn.esm.sh/v45/video.js@VERSION/TARGET/video.bundle.js is fixed for build that is the real CDN URL.
i will add a `?buildVersion` to allow you downgrade to the old builds!

[2021-08-12 13:50] #98 closed

[2021-08-12 13:52] ije commented on #98
just fixed, sorry i missed something in v45 updates

[2021-08-12 13:59] ije opened #99 "Roadmap of 2021"
### Roadmap List
- [x] split internal bundle by the `exports` field in **package.json** (#78)
- [x] support storage interface to save builds to everywhere over local fs(#76)
- [x] nested deps should respect the `?deps` parameter(#101)
- [ ] use deno deploy as front layer
- [ ] preload deps
- [ ] transform ts/tsx/jsx for browsers from **github**
[code]

[2021-08-12 14:38] pionxzh commented on #98
Thanks for fixing it so quickly, is it possible to have a test case for this? Or is it a edge case?

[2021-08-12 15:10] ije commented on #98
i didn't test the module, but the build is working as expected

[2021-08-13 09:00] talentlessguy commented on #97
Solved the issue by removing `@ensdomains/contracts`

[2021-08-13 09:00] #97 closed

[2021-08-15 12:47] guiguan commented on #96
I resolved the above [error](https://github.com/postui/esm.sh/issues/96#issuecomment-897514305), now I am still getting the first [error](https://github.com/postui/esm.sh/issues/96#issue-966625967) for v45 (latest master) even after cleaning all cahes. However, after reverting my `esm.sh` instance back to v43, everything works fine again.

[2021-08-15 12:51] guiguan commented on #96
If I run `alephjs.org` locally against `aleph.js`, and both connect to v45, I got the same [error](https://github.com/postui/esm.sh/issues/96#issue-966625967)

[2021-08-15 13:39] ije commented on #96
@guiguan thanks，I will look into it

[2021-08-23 10:42] davidwinter opened #100 "Could not resolve "node:path" - meow package"
Hello! How should built-in node modules be handled? For example, trying to import the `meow` package, the following error happens:

[code]

https://esm.sh/meow

I was trying to use [import mapping](https://deno.land/manual@v1.13.1/npm_nodejs/import_maps) with Deno to remap this, but looks like the package doesn't even reach me in order for Deno to be able to do this.

[2021-08-23 17:10] ije commented on #100
@davidwinter thanks, i will fix this asap!

[2021-08-23 17:35] #100 closed

[2021-08-23 17:37] ije commented on #100
fixed in 021448e, pls tray again!

[2021-08-24 05:00] #63 closed

[2021-08-24 05:00] ije commented on #63
fixed

[2021-08-24 09:45] davidwinter commented on #100
Thanks, @ije - that resolved that issue. Though this might be unrelated, but another error I now encounter as a result of the dependency tree of `meow` is the following, where an export isn't correct:

[code]

[2021-08-24 21:47] mashaal opened #101 "v45 - nested dependency overrides have changed"
When specifying a dep query, the dep seems to only effect the first level of imports?

Example:
https://esm.sh/wouter?deps=react@18.0.0-alpha-edfe50510-20210823 -- which imports this file... [v45](https://cdn.esm.sh/v45/wouter@2.7.4/X-ZGVwczpyZWFjdEAxOC4wLjAtYWxwaGEtZWRmZTUwNTEwLTIwMjEwODIz/es2021/wouter.js)

This file is correctly dep'd, but it includes an import (first import of the file) to htt

[2021-08-25 05:07] ije commented on #101
@mashaal thanks, i will fix this asap! v45 has cancel bundling for internal modules of a package, you can use `?bundle` as a workaround.

[2021-08-27 23:39] takker99 opened #102 "Aliasing dependencies doesn't affect typescript declaration"
In some packages, aliasing dependencies doesn't affect typescript declaration.

For example, https://esm.sh/use-resize-observer@7.0.1?alias=react:preact&deps=preact@10.5.14 is expected to use https://cdn.esm.sh/v45/deps=preact@10.5.14/preact@10.5.14/src/index.d.ts, but actually uses https://cdn.esm.sh/v45/deps=preact@10.5.14/@types/react@17.0.19/index.d.ts

[2021-08-28 05:36] ije commented on #102
@takker99 thanks I will fix this later！

[2021-08-28 12:04] talentlessguy opened #103 "v45 resolves Node.js `path` incorrectly"
In v45, modules that use node.js `path`, no longer work properly:

[code]

results in this:

[code]

trying to import from `v44`:

[code]

yields this:

[code]

here's the source code for a module: https://github.com/tinyhttp/tinyhttp/blob/master/packages/content-disposition/src/index.ts

[2021-08-28 12:17] ije commented on #103
@talentlessguy thanks, i will look into it!

[2021-08-28 17:54] #101 closed

[2021-08-28 17:54] #103 closed

[2021-08-29 06:58] ije commented on #103
@talentless fixed, v46 should work fine, pls clean cache and try again, thanks

[2021-08-29 06:59] ije commented on #101
@mashaal fixed in v46, thanks

[2021-08-30 15:12] kamekyame opened #104 "Duplicate type definition "esm.sh" and "cdn.esm.sh""
I'm using Deno to make a React app.

https://esm.sh/recharts@2.0.8 refers to "https://esm.sh/v46/@types/react@17.0.19/index.d.ts" as part of the react type definition.
This is the type definition "https://cdn.esm.sh/v46/@types/react@17.0.19/index.d.ts" such as https://esm.sh/react@17.0.2 It will be duplicated.

[2021-08-30 15:46] #104 closed

[2021-08-30 15:50] ije commented on #104
@kamekyame thanks, i just fix it. (the dts transformer is using no-cdn domain that is conflict with `X-Typescript-Types`)

[2021-08-31 00:24] frodri opened #105 "simple-git package not working under target=deno"
Reproducible on Deno version v1.13.2, using the following:

[code]

I believe the polyfill for child_process is up on std/node. Would it be possible to use it for adding esm.sh support on the deno target?

[2021-08-31 17:37] ije commented on #105
@frodri i just added child_process polyfill using `std/node/child_process.ts` in **v47**, but i am not sure if it works, please try again, thanks!

[2021-08-31 18:31] frodri commented on #105
I see the polyfill in the script now, so that's good.  👍 Would the changes to @types/node for child_process need to be updated on the CDN, if the @types/node repo made recent changes to the typings though?

[2021-09-01 01:53] ije commented on #105
no worries, we have a ployfll for `@types/node`, see https://github.com/postui/esm.sh/blob/master/embed/types/node.ns.d.ts

[2021-09-01 14:20] kamekyame opened #106 "Type definition error "@material-ui/core@5.0.0-beta.2/Popper""
https://esm.sh/@material-ui/core@5.0.0-beta.2/Popper

Deno gives the following type definition error:
[code]

If you set import-map, the error disappears.

[code]

[2021-09-01 22:31] CanRau opened #107 "unsupported-nodejs-builtin-module trying to import WindiCSS/helpers"
Hey there ☺️
I've got [WindiCSS](https://windicss.org/) working pretty great so far in Deno
Though WindiForms and Typography seam to work fine, I can't get the config helper working.
Having this in my `deps.ts`
[code]

yields

[code]

Also tried to export from `https://cdn.esm.sh/v47/windicss@3.1.7/es2021/helpers.js` directly with the exact same result

What can I do?

As I stumbled upon #46 I als

[2021-09-04 06:10] frodri commented on #105
Got it. I think I can get you a PR with the new child_process typings into node.ns.d.ts. I do not know, though, which one of the 2 tsconfigs from deno-std (strict-ts44.tsconfig.json or browser-compat.tsconfig.json) would work best for esm.sh's 'deno' target. Some more help in that regard would be appreciated.

[2021-09-04 06:23] ije commented on #105
@frodri coool, but why we need this types for child_process module? since deno can get the deps' types via esm.sh. A simple node types replacement can avoid deno download ton of DTS files via esm.sh.  IMO the types is great for editor like vscode, but deno shouldn't take everything types from npm. besides deno will diable types checking by default in the future.

[2021-09-04 07:15] frodri commented on #105
@ije Oh. I didn't know about the incoming Deno type check default. In that case, we're all good. 👍

[2021-09-04 07:15] #105 closed

[2021-09-04 14:12] ije commented on #76
i just added a storage interface to the server that is compat with previous db/fs, next i will add mysql/postgres/aliyun-oss/aws-s3/... implements.

[2021-09-04 21:19] talentlessguy opened #109 "Fails to import `ipfs-http-client`"
## Reproduction

[code]

## What I get

[code]

[2021-09-05 04:50] #109 closed

[2021-09-05 05:01] ije commented on #109
@talentlessguy just fixed in f75f6f2, i will deploy this later. please remove  the `?target` since this param would not build deno ployfills.

[2021-09-05 14:21] talentlessguy commented on #45
I just tried to import and it works now

the issue can be closed safely

[2021-09-05 14:23] talentlessguy commented on #57
imports fine in v47

can be closed, @ije

[2021-09-05 14:25] talentlessguy commented on #37
Trying to import `lume` results in this:

[code]

[2021-09-05 14:27] talentlessguy commented on #42
still happens on v47

[code]

[2021-09-05 14:30] talentlessguy opened #110 "Unable to resolve media type for specifier for `ipfs-http-client@52.0.3-rc.8`"
hey, yet another bug report

when trying to import `ipfs-http-client` like this:

[code]

I get this

[code]

Related: #109

[2021-09-05 14:34] talentlessguy opened #111 "Invalid resolution of `ipfs-http-client@52.0.2`"
Related: #110  #109

This:

[code]

should have a `mod.create` method available, however instead I get this:

![image](https://user-images.githubusercontent.com/35937217/132130666-77321488-9e7f-47b8-a1fd-7b1047d47671.png)

running deno yields this:

[code]

[2021-09-05 14:39] talentlessguy commented on #68
imports fine in latest v47 version

[2021-09-05 15:28] #68 closed

[2021-09-05 17:16] ije commented on #57
@talentlessguy thanks

[2021-09-05 17:16] #57 closed

[2021-09-05 17:18] #45 closed

[2021-09-05 20:01] talentlessguy opened #113 "Failed to import - bnc-onboard"
## Failing module

- **GitHub**: https://github.com/blocknative/onboard
- **npm**: https://www.npmjs.com/package/bnc-onboard

[code]

## Error message

When opening the file directly I get this:

[code]

Looks like it requires `git` to be installed. Not sure which dep tho

## Additional info

- **esm.sh version**: v47
- **Deno version**: 1.13.2

[2021-09-06 01:32] ije commented on #42
https://esm.sh/stripe?no-check should work

[2021-09-06 01:33] ije commented on #42
I will check the types transformer

[2021-09-06 08:51] talentlessguy opened #114 "Failed to import - astring"
## Failing module

- **GitHub**: https://github.com/davidbonnet/astring
- **npm**: https://npmjs.org/package/astring

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v47
- **Deno version**: 1.13.2

[2021-09-06 08:52] talentlessguy commented on #114
with `?deps=@types/source-map` I get this:

[code]

[2021-09-06 08:55] talentlessguy commented on #51
what's the source code that causes it? Also I saw you use Aleph, please check on 0.3-beta, I think the issue should be gone

[2021-09-06 08:57] talentlessguy commented on #18
still happens on v47

[code]

[2021-09-06 08:58] talentlessguy commented on #36
not an issue anymore in v47, closing

[2021-09-06 08:58] #36 closed

[2021-09-07 21:10] talentlessguy opened #115 "Failed to import - @tinyhttp/url"
## Failing module

- **GitHub**: https://github.com/tinyhttp/tinyhttp/blob/master/packages/url/src/index.ts
- **npm**: https://npmjs.org/@tinyhttp/url

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v48
- **Deno version**: 1.13.2

[2021-09-07 21:18] talentlessguy commented on #110
now I get this:

[code]

[code]

[2021-09-08 01:00] ije commented on #89
i am going to close this since we have implemented this feature in v44, thanks a lot @lucacasonato

[2021-09-08 01:00] #89 closed

[2021-09-08 01:05] #74 closed

[2021-09-08 12:36] majo44 opened #118 "Failed to import - html-to-react"
## Failing module

- **GitHub**: https://github.com/aknuds1/html-to-react
- **npm**: https://www.npmjs.com/package/html-to-react

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

Compiled version of html-to-react contains `
import __domhandler$ from "/v48/domhandler@3.3.0/deno/domhandler.development.js";
`
but `domhandler` has custom *default* export http

[2021-09-08 14:59] jimisaacs opened #121 "Option to disable / configure compression"
So this isn't really an issue with esm.sh, but actually https://github.com/ije/rex which it depends on.
Currently, I can't use brotli in my environment, though to be honest, compression in general is a waste in my environment, i.e. it's just using up CPU. Though because I can't disable it, I'm using a fork and forcing gzip just to make things work.

So what would be the suggestion here? Would you

[2021-09-08 15:11] ije commented on #121
@jimisaacs i didn't consider this situation, i will move the default competition to a configurable middleware

[2021-09-08 15:17] jimisaacs commented on #121
Do you want any help here?

[2021-09-08 16:35] ije commented on #121
thanks, just quickly fixed in 9be43ac

[2021-09-08 16:45] ije commented on #118
@majo44 thanks, i will look into it 🙏

[2021-09-08 17:24] jimisaacs commented on #121
@ije Nice! I'll give it a quick run

[2021-09-08 17:44] jimisaacs opened #123 "Failed to build antd?bundle&dev on test page"
## Failing module

I figured I didn't need all the stuff as this is related to running the server locally, and it continuing to fail on this one from the test page:

 http://localhost:7101/antd?bundle&dev

## Error message

[code]

## Additional info

This is the latest master.

[2021-09-08 17:50] #121 closed

[2021-09-08 17:52] jimisaacs commented on #123
OK, for some reason it works in my deployed environment, but not locally 🤔

[2021-09-08 17:56] jimisaacs commented on #121
@ije 👍 works great! thanks again

[2021-09-08 17:58] ije commented on #123
i have no idea, i will try it in my local laptop

[2021-09-08 17:59] ije commented on #121
@jimisaacs coola

[2021-09-08 18:07] lucsoft opened #124 "Failed to import @babylonjs/loaders@5.0.0-alpha.43"
## Failing module

- **GitHub**: https://github.com/BabylonJS/Babylon.js
- **npm**: https://www.npmjs.com/package/@babylonjs/loaders/v/5.0.0-alpha.43

[code]

## Error message

After running `deno run` I get this:

[code]

Open the URL:

[code]

## Additional info

- **esm.sh version**: v48
- **Deno version**: 1.13.2+5db1c40 (canary, x86_64-apple-darwin)

[2021-09-09 09:25] talentlessguy opened #125 "Failed to import - @tinyhttp/content-disposition"
## Failing module

- **GitHub**: https://github.com/tinyhttp/tinyhttp/tree/master/packages/content-disposition
- **npm**: https://npm.im/@tinyhttp/content-disposition

[code]

## Error message

After running `deno run` I get this:

[code]

same error as in #124, weird

## Additional info

- **esm.sh version**: v48
- **Deno version**: 1.13.2

[2021-09-09 16:11] #125 closed

[2021-09-09 17:08] talentlessguy commented on #124
doesn't seem like happening anymore?

works fine for me

[2021-09-09 17:24] lucsoft commented on #124
Yeah today it worked

[2021-09-09 18:24] #124 closed

[2021-09-09 19:05] jimisaacs commented on #99
@ije I have a local branch where I have basically taken an additive approach to the fs_local implementation (duplicated and layer onto fs_local), and added https://github.com/dgraph-io/ristretto as a gate keeper. Would you be interested?

[2021-09-09 19:06] jimisaacs commented on #99
Take a look at that project if you can, it's an interesting approach:

Eviction: SampledLFU - on par with exact LRU and better performance on Search and Database traces.
Admission: TinyLFU - extra performance with little memory overhead (12 bits per counter).

[2021-09-09 19:09] jimisaacs commented on #99
My implementation assumes a stateless container, so I still using your standard local fs, and just make the assumption that what ever is in the cache is the source of truth. Though even if it's not in a stateless container, I'd still almost like to just assume it is, and clear the local storage directory on server start 🤷

[2021-09-09 19:09] jimisaacs commented on #99
What is in the cache is just a struct with the name and modtime.

[2021-09-09 19:50] lucsoft commented on #124
@talentlessguy is there a reason? any logs or fixes that this will not happen again?

[2021-09-09 20:09] talentlessguy commented on #124
@lucsoft I don't know since @ije controls the server but looks like it was a server-specific issue

[2021-09-10 01:29] ije commented on #124
@lucsoft @talentlessguy this happened because the yarn cache is boom🤯, so new builds have no enough disk space to install npm packages. i changed the serve storage, now the server has 1pb NFS disk for builds, also have a plan to add a LRU layer to remove the "cold" build cache, in fact this is happening #126

[2021-09-10 02:48] #118 closed

[2021-09-10 07:49] talentlessguy commented on #82
does this still happen with v49?

[2021-09-10 08:37] talentlessguy commented on #115
Now getting this on v49:

[code]

[2021-09-10 08:44] talentlessguy commented on #114
getting this with v49:

[code]

[2021-09-10 08:45] talentlessguy commented on #114
same as in #115

[code]

https://npmfs.com/package/astring/1.7.5/astring.d.ts

[2021-09-10 08:45] ije commented on #114
@talentlessguy i figured out what happened

[2021-09-10 08:46] ije commented on #114
a mistake here https://github.com/alephjs/esm.sh/blob/62e442f9ca879ef5398f72f292045ace38493404/server/pkg.go#L41

[2021-09-10 08:47] talentlessguy commented on #114
@ije great that you found the root if this issue, hoping for this fix to be released soon

[2021-09-10 08:58] talentlessguy opened #127 "querystring-es3 gets downloaded despite having a deno polyfill"
Related: #115

deno dowload logs:

[code]

esm.sh server logs:

[code]

[2021-09-10 21:55] jimisaacs opened #128 "Why not 302 to CDN address?"
I wondered this, and then I saw how esm.run does it (i.e. https://esm.run/d3). They actually 301, and I understand you are making room for rebuilds, which is why I mentioned 302. Why not?

[2021-09-10 22:07] jimisaacs commented on #128
I think I answered my own question. It needs to add the typescript types for deno 🤔.

[2021-09-10 22:19] ije commented on #128
1. resolve module version
2. split traffic (there is a different CDN `x-statio.io` that is hosted in china mainland
3. yes, add types header for deno

[2021-09-10 23:53] ije commented on #99
@jimisaacs there are two different kind of LRUs i think, one is a FS storage that can remove the old(cold) files automatically since the build outputs take lot of storage space over time. the other one is a redis layer to map the request url to the entry JS, currently i only use the `postdb`(a embed db i created) to cache package versions.

[2021-09-11 07:07] talentlessguy commented on #127
@ije any ideas how to fix this?

[2021-09-11 17:49] ije commented on #127
the types `@types/node/querystring` need to be resovled

[2021-09-11 17:49] ije commented on #127
it only works in nodejs

[2021-09-11 17:59] talentlessguy commented on #127
@ije what do you mean only works in node.js? querystring package is already polyfilled by deno

[2021-09-11 18:39] ije commented on #127
the polyfill works with `?no-check`, but the `d.ts` file still import the @types/node/querystring

[2021-09-11 18:39] ije commented on #127
<img width="833" alt="Screenshot 2021-09-12 at 02 39 43" src="https://user-images.githubusercontent.com/2883484/132958067-d9f7b80b-500c-4fad-9e94-5bb56492face.png">

[2021-09-11 18:59] talentlessguy commented on #127
@ije oh got you

should I file a separate issue for this?

[2021-09-11 19:01] talentlessguy commented on #114
Update, now getting this:

[code]

[2021-09-11 19:22] ije commented on #114
<img width="987" alt="Screenshot 2021-09-12 at 03 22 05" src="https://user-images.githubusercontent.com/2883484/132959176-2b1fd641-ab2c-4a6b-a8fa-5d2653a268ee.png">

[2021-09-11 19:24] ije commented on #114
i just checked **v50** dts output, i will fix it ASAP

[2021-09-11 19:57] talentlessguy commented on #114
nice, thx!

[2021-09-12 01:06] akaFTS opened #130 "Failed to import - recharts"
## Failing module

- **GitHub**: https://github.com/recharts/recharts
- **npm**: https://www.npmjs.com/package/recharts

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v46
- **Deno version**: 1.13.2

[2021-09-12 07:32] talentlessguy commented on #115
std/querystring doesn't have `ParsedUrlQuery`

I will pull request to deno_std with this type

[2021-09-12 07:33] #115 closed

[2021-09-12 09:10] erfanium opened #131 "Failed to import - typescript"
## Failing module

- **GitHub**: https://github.com/meilisearch/meilisearch-js
- **npm**: https://www.npmjs.com/package/meilisearch

[code]

## Error message

After running `deno run` I get this:

[code]
[code]

## Additional info

It always works well but not today, I think there's a problem with Typescript because it works on browser

- **esm.sh version**: v49 (esm.sh itself)
- **Deno version**:

[2021-09-12 10:57] timreichen commented on #131
Same with `http://esm.sh/typescript`

[2021-09-12 18:41] talentlessguy commented on #127
@ije looks like a separate issue? for typings

[2021-09-12 21:22] ije commented on #131
@erfanium @timreichen  now it should work!
sorry, we are updating the framemwork to run the esm.sh backend on multiple servers, also did some refactors to build the modules more efficiently and better deno types compatibility.

[2021-09-12 21:23] ije commented on #114
fixed in v50

[2021-09-12 21:57] timreichen commented on #131
@ije thanks, the previous error is solved, though there is another error that wasn't present before now when trying to import `http://esm.sh/typescript`. Might be related to the updated framework:
[code]

[2021-09-13 02:11] quaos opened #133 "Recurred React Invalid Hook Call"
## Summary

Recently after esm.sh has deprecated the previous bundle mode `import xxx from https://esm.sh/[react,react-dom,...]/react`, I've tried to adjust my Deno projects' deps import/export codes accordingly.

It worked for a while, but then I got previously-encountered `React Invalid Hook Call` error.

## Error message

After running `yarn build` successfully and then `yarn start`, I get this

[2021-09-13 03:20] codehz commented on #82
Seems fixed

[2021-09-13 03:20] #82 closed

[2021-09-13 07:01] talentlessguy commented on #110
with v50 I get this now:

[code]

[2021-09-13 07:15] talentlessguy commented on #114
not fixed, still errors:

[code]

[2021-09-13 07:16] talentlessguy commented on #114
works with `https://esm.sh/astring?deps=estree` though

[2021-09-13 07:16] #114 closed

[2021-09-13 07:21] talentlessguy opened #135 "Failed to import - xdm"
## Failing module

- **GitHub**: https://github.com/wooorm/xdm
- **npm**: https://www.npmjs.com/package/xdm

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v50
- **Deno version**: 1.13.2

[2021-09-13 07:41] erfanium commented on #131
Thanks, It works now!

[2021-09-13 08:16] ije commented on #131
let's keep this open to trace the problem `/v50/events@3.3.0/deno/events.js`

[2021-09-13 08:17] ije commented on #131
@timreichen i will fix it ASAP!

[2021-09-13 14:47] jimisaacs opened #138 "Something is wrong with the npm version resolution"
I'm seeing packages that depend on things like `^1.3.3` resolve to beta versions such as `1.3.3-beta.2`. This is not good. As the `^` constraint, means any compatible version of major minor. Though in NPM, no "pre-release" versions, i.e. any version like `{major}.{minor}.{patch}-{extra}`, the `-{extra}` ALWAYS means it will not resolve as compatible.

This is likely breaking many package installs.

[2021-09-13 14:48] jimisaacs commented on #138
Unfortunately I do not have a repro with public packages at the moment, as I've been paying closest attention to private packages.

[2021-09-13 15:11] ije commented on #138
@jimisaacs this can be fixed in https://github.com/alephjs/esm.sh/blob/7d6534aa334c1276589d73bf79f23c795025b3be/server/nodejs.go#L328

[2021-09-13 15:46] jimisaacs commented on #138
Thanks for looking, I'm still debugging it, thinking it *might* be related to peer dependencies, I also thought I ruled out a package problem, but won't be sure until I spend quite sifting through where that version is coming from.

[2021-09-13 15:50] jimisaacs commented on #138
I know you are using yarn, which I didn't think installed peer dependencies, so I'm wondering how you are handling that now.

[2021-09-13 16:23] jimisaacs commented on #138
I've looked all I can right now, but I still can't figure out where the `-beta.{n}` is coming from. It's a standard peerDependency of `^1.2.3`, but it's still getting `1.2.3-beta` for only two of them. Will continue to look, and I guess just keep a watch on something like this in the public registry space.

[2021-09-14 00:03] ije commented on #138
no need to install the peer deps not all, since we get the peer deps version info from npm registry directly

[2021-09-14 00:04] ije commented on #138
what is the url?

[2021-09-14 00:07] jimisaacs commented on #138
Sorry, it's a private package. So if you want to look at it, to see data you won't find it. If you just want to see the URL, I can share the shape of it with the name changed for privacy

[2021-09-14 00:11] ije commented on #127
seems this has be fixed in v50, pls check https://github.com/alephjs/esm.sh/blob/f03118af0369948d60c2af35fb0482782c259dad/test/node.types.test.ts#L2

[2021-09-14 00:33] tatemz opened #140 "Failed to import - styled-components, final-form, react-final-form"
## Failing module

- `styled-components`
- `final-form`
- `react-final-form`

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v47
- **Deno version**: 1.13.2

[2021-09-14 00:35] tatemz commented on #140
Getting lots of CDN timeout 524 errors this week for some modules

[2021-09-14 05:56] tatemz commented on #140
Looks to be resolved.

[2021-09-14 05:56] #140 closed

[2021-09-14 06:38] talentlessguy commented on #127
yep seems to be fixed, closing

[2021-09-14 06:38] #127 closed

[2021-09-14 06:52] AndCake opened #141 "Failed to import @material-ui/data-grid"
## Failing module

- **GitHub**: https://github.com/mui-org/material-ui-x/
- **npm**: https://www.npmjs.com/package/@mui/x-data-grid
-
[code]

## Error message

After running `deno run` I get this:

[code]

When I open the URL in my browser, I get the following export returned:

[code]

I don't know if this is related, but yesterday it was not possible to load this library either due to HTTP error

[2021-09-14 06:57] talentlessguy opened #142 "Failed to import - @mdx-js/mdx"
## Failing module

- **GitHub**: https://github.com/mdx-js/mdx/
- **npm**:https://www.npmjs.com/package/@mdx-js/mdx

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v50
- **Deno version**: 1.13.2

## Analysis

After analyzing the issue I found out it is because `helper-function-name.js` starts with [this import](https://github.com/b

[2021-09-14 06:58] talentlessguy commented on #141
Looks like no disk space is left, @ije

[2021-09-14 07:00] talentlessguy commented on #130
Getting this on v50:

[code]

[2021-09-14 07:26] talentlessguy opened #143 "Conflicting types in `@types/node` and `node.ns.d.ts`"
Some of the Node.js-targeted modules have type conflicts because esm.sh uses both the `@types/node` and `node.ns.d.ts` types, resulting in `Duplicate identifier`.

For example, `ipfs-http-client@52.0.3`:

[code]

or `stripe`:

[code]

[2021-09-14 07:29] talentlessguy commented on #18
on v50 I see this instead:

[code]

[2021-09-14 07:32] talentlessguy commented on #37
on `v50` I get this:

[code]

[2021-09-14 18:10] #131 closed

[2021-09-14 18:42] ije commented on #143
hmmm, hard to make every types of nodejs work, but i will look into it, good news is at least the `@tyeps/node/query` is working~

[2021-09-14 18:44] ije commented on #141
<img width="811" alt="Screenshot 2021-09-15 at 02 43 27" src="https://user-images.githubusercontent.com/2883484/133315623-58dfca1d-1468-4601-a3ff-3acfd8531fb4.png">
@AndCake  can you please try again? seems it works in my case.

[2021-09-14 18:45] ije commented on #135
types again 🤣

[2021-09-14 18:47] ije commented on #133
can you please try to clean the cache of deno? i have a plan to remove the traffic feature for china that may case this issues!

[2021-09-14 18:49] ije commented on #130
@akaFTS use `?no-check` may can help you, i will look into it later, thanks!

[2021-09-15 03:24] akaFTS commented on #130
Seems to be working on v51, but I'll double-check tomorrow.

[2021-09-16 00:28] drkibitz opened #147 "Cache storage config lowercase or not?"
Just noticed that you are forcing the cache config name to lowercase. Is that what you'd want across the board? It was it unintentional to be just for cache?

[2021-09-16 09:11] drkibitz commented on #147
Sorry, only meant the LRU cache couldn't be used, though it is fixed now

[2021-09-16 09:11] #147 closed

[2021-09-16 09:40] yishn opened #149 "Failed to import - preact/hooks types"
## Failing module

- **GitHub**: https://github.com/preactjs/preact
- **npm**: preact

[code]

It seems like the `x-typescript-types` header sent by esm.sh are incorrect:

![image](https://user-images.githubusercontent.com/9217349/133589009-7933dd32-a3d6-4b6e-8008-ba85c0c44bf6.png)

It should be `https://cdn.esm.sh/v51/preact@10.5.14/hooks/src/index.d.ts` instead.

## Error message

After running

[2021-09-16 14:44] ije commented on #147
yes, my mistake! thanks @drkibitz

[2021-09-16 15:33] lucacasonato commented on #149
Having the same issue with `https://esm.sh/twind@0.16.16/sheets`

[2021-09-16 15:47] lucacasonato opened #150 "Cache is not invalidated after esm.sh updates"
After esm.sh updates, I sometimes get into the state where one import request results in a v46 release, and another results in a v47 (for example). This then causes dependencies to get duplicated in the dependency graph. Could you maybe force flush the cache after each update?

[2021-09-16 18:19] cscheid opened #151 "Failed to import - cli-color"
## Failing module

- **GitHub**: https://github.com/medikoo/cli-color
- **npm**: https://www.npmjs.com/package/cli-color

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v51
- **Deno version**: 1.13.2

I get similar errors on:
- `json-schema-to-typescript`
- `es5-ext`
- `es6-iterator`

From what I can tell, it looks like there's som

[2021-09-16 19:42] #149 closed

[2021-09-16 20:47] ije commented on #149
fixed in v52, also added preact testing for deno: https://github.com/alephjs/esm.sh/tree/master/test/deno/preact

[2021-09-17 02:43] quaos commented on #133
Thanks! I've cleaned the cache:
`rm -fR  $HOME/Library/Caches/deno/*`

Then run `yarn build` and `yarn start` again. The app now loaded normally.

I suppose you can close the issue.

[2021-09-17 03:19] #133 closed

[2021-09-17 03:40] 0x1af2aec8f957 opened #152 "TS2503 [ERROR]: Cannot find namespace 'CSS'"
[code]
[code]

[2021-09-17 03:54] ije commented on #152
seems it is the types issues, pls use `?no-check` instead, i will look into it ASAP!

[2021-09-17 04:09] ije commented on #151
@cscheid thanks 🙏 as we know, in browser, including deno, a module is a standard URL that means the content after `#` will be treated as **hash** of the `URL` object. it's wired about the # dir. anyway i will fix this later, thanks for the useful info.

[2021-09-17 04:35] ije commented on #150
@lucacasonato thanks for the suggestion! i will do it after each update manually for now. and i will create an automatic script for this later.

[2021-09-17 12:00] lubomirblazekcz commented on #52
@ije now this is not working again

https://cdn.esm.sh/v52/vanillajs-datepicker@1.1.4/es2021/js/i18n/locales/cs.js works
https://cdn.esm.sh/v52/vanillajs-datepicker@1.1.4/es2021/locales/cs.js doesn't work

So basically what worked doesn't work now. And what didn't work, works now 😄

[2021-09-17 12:08] ije commented on #52
🙈🙉🙊

[2021-09-17 12:09] ije commented on #52
@lubomirblazekcz i will look into it, thanks！

[2021-09-18 11:03] timreichen opened #154 "Failed to import acorn via terser"
https://github.com/timreichen/Bundler/issues/53

[2021-09-18 12:48] #154 closed

[2021-09-19 08:06] SinaMobasheri opened #156 "Failed to import - Deno - JSDOM@17.0.0"
## Failing module

- **GitHub**: **https://github.com/jsdom/jsdom**
- **npm**: **https://www.npmjs.com/package/jsdom**

[code]

## Error message

After importing module in `deno repl` I get this:

[code]

## Additional info

- **esm.sh version**: v48
- **Deno version**: 1.13.2

- `import jsdom from "https://cdn.esm.sh/v48/jsdom@17.0.0/deno/jsdom.js";` works fine

[2021-09-19 08:59] ije commented on #156
@SinaMobasheri you can disable the tyeps by `?no-check`, i will look into it, thanks

[2021-09-19 13:50] talentlessguy commented on #135
found the reason why it crashes, estree-jsx is deprecated and types have moved to another package

https://www.npmjs.com/package/estree-jsx

[2021-09-19 15:44] talentlessguy commented on #143
Same happens with `typechain`

[code]

[2021-09-19 15:51] talentlessguy opened #157 "Failed to import - fsevents"
## Failing module

- **GitHub**: https://github.com/fsevents/fsevents
- **npm**: npmjs.com/package/fsevents

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14.0

[2021-09-19 20:39] jimisaacs opened #159 "Keep getting errors on yarn add"
The errors look like this: https://github.com/yarnpkg/yarn/issues/7212

They happen consistently when I clear my caches locally, and start the server fresh and loaded the index file (errors happen on marked and highlight.js packages).

It's either a problem with using a custom registry, or a known problem with yarn 1, that will never be fixed at this point.

[2021-09-19 20:46] jimisaacs commented on #159
Ok verified it's nothing to do with the custom registry:
[code]

[2021-09-20 00:35] jimisaacs commented on #159
@ije
So the following (in `yarnAdd` function in nodejs.go file) fixes the above errors:
[code]
based on these docs https://classic.yarnpkg.com/en/docs/cli/#toc-concurrency-and-mutex

Though I'm not sure how expensive / cheap this option, and the values it has is.
I went with `network` because it was the quickest way to verify. As going with file, I'd have to figure out where and how to specify a f

[2021-09-20 00:38] jimisaacs commented on #159
overall just want to here thoughts, I don't think I should be the only one getting these errors 🤷

[2021-09-20 02:55] ije commented on #159
i found this happen when share build wd dir before, so I think fixed this in https://github.com/alephjs/esm.sh/commit/4867c477dd4caef1b3ccca7ab3425c5bf9389af1, for me it never happen again, i have no ideas 🤔

[2021-09-20 14:22] jimisaacs commented on #159
it feels environment dependent, but it definitely happens on a docker container, and I can repro on my macos system when I ensure everything is localized within `.dev`, including the nodejs install and yarn cache.

[2021-09-20 15:35] akaFTS commented on #130
Confirmed to be working on the latest version.

[2021-09-20 15:35] #130 closed

[2021-09-20 17:05] talentlessguy opened #162 "Failed to import - @apollo/client"
## Failing module

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14

[2021-09-20 17:13] ije commented on #162
@talentlessguy thanks for report!

[2021-09-20 17:15] ije commented on #162
transform types for Deno is kind of pain for me now 🤣

[2021-09-20 17:23] talentlessguy commented on #162
@ije sorry to hear that :/

i just report every package that has problematic types

[2021-09-20 18:36] ije commented on #162
no worries, i appreciate that and i will fix it asap, thanks a lot @talentlessguy

[2021-09-21 07:03] ije commented on #113
this can be built now, but i am not sure whether it works acctually

[2021-09-21 08:13] talentlessguy commented on #113
@ije doesn't seem to be working tho

[code]

[2021-09-21 13:15] #110 closed

[2021-09-21 13:15] #111 closed

[2021-09-21 13:21] talentlessguy opened #163 "Failed to import - fetch-blob"
## Failing module

- **GitHub**:  https://github.com/node-fetch/fetch-blob
- **npm**: https://www.npmjs.com/package/fetch-blob

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14

The line causing this issue: https://github.com/node-fetch/fetch-blob/blob/0e074572462f2df71c2507f187f164c61376257e/streams.cjs#

[2021-09-21 19:15] philippkuehn opened #165 "Specify external dependencies of dependencies"
It would be nice if the `deps` parameter would also work for dependencies of dependencies.

For example I want to specify a version of `@tiptap/core`. Within `@tiptap/starter-kit` some other packages are loaded, e.g. `@tiptap/extension-blockquote`. `@tiptap/extension-blockquote` also depends on `@tiptap/core` but esm.sh loads a different version of it (2.0.0-beta.99). Setting `deps` on `@tiptap/st

[2021-09-21 19:33] ije commented on #165
@philippkuehn i think this is a bug, i will fix this, thanks 🙏

[2021-09-22 11:09] CanRau opened #166 "Failed to import - http://esm.sh/raf@3.4.1/polyfill"
## Failing module

- **GitHub**: https://github.com/chrisdickinson/raf
- **npm**: https://www.npmjs.com/package/raf

[code]

## Error message

After running `deno run` I get this (Note the 3 dots ...d.ts):

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14.0

And thanks for this amazing service which makes Deno so much easier to use 🥰

[2021-09-22 11:17] ije commented on #166
@CanRau thanks, you can add `?no-check` to disable the types check, i will look into

[2021-09-22 11:36] amatiasq opened #167 "Failed to import @mdx-js/mdx"
## Failing module

- **GitHub**: https://github.com/mdx-js/mdx
- **npm**: https://www.npmjs.com/package/@mdx-js/mdx

[code]

## Error message

After running

[code]

I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14.0

## Analysis

After analyzing the issue I found out it is because `helper-function-name.js` starts with [this import](https://github.com/bab

[2021-09-22 14:26] amatiasq commented on #167
Referenced from https://github.com/mdx-js/mdx/discussions/1674

[2021-09-22 14:58] jimisaacs opened #168 "Confused by resolveVersion"
@ije I'm really not understanding what `resolveVersion` does. It literally looks like it is removing semver constraint symbols from a version constraint, and calling that "resolved".

Example:
https://github.com/alephjs/esm.sh/blob/c8be4051019116a99a741545185985c0866226c0/server/nodejs.go#L335-L337

How is that logic right? If the package constraint is `react@<17`, how does that come to mean `reac

[2021-09-22 17:07] ije commented on #168
no the logic from 335 to 337  is not right acctually! it should be fixed. the rest is to simplify the version exresssion, because when we fetch package info form npm we can get all the versions of the package, then we must decide to which version we should use.
check: https://github.com/alephjs/esm.sh/blob/c8be4051019116a99a741545185985c0866226c0/server/nodejs.go#L292

[2021-09-22 17:12] ije commented on #167
@amatiasq thanks for the details, i will look into it!

[2021-09-22 19:45] rotu opened #169 "Failed to import rxjs via ionic@cli"
## Failing module

- **npm**: https://www.npmjs.com/package/rxjs
- **npm**: https://www.npmjs.com/package/@ionic/cli

[code]

## Error message

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14.1

[2021-09-22 21:27] jimisaacs commented on #168
thanks, I'll look more there

[2021-09-22 22:24] jimisaacs commented on #168
@ije would you be apposed to using something like or maybe even exactly this? https://github.com/Masterminds/semver

[2021-09-23 02:18] ije commented on #168
oh

[2021-09-23 02:19] ije commented on #168
this https://github.com/Masterminds/semver looks great

[2021-09-23 02:23] ije commented on #168
would you create a pr on it? currently i am focusing on the new cjs lexer in rust instead of the cjs-module-lexer and evel for some safety reasons

[2021-09-23 21:46] rotu opened #170 "Failed to import - prompts"
## Failing module

- **GitHub**: https://github.com/terkelg/prompts
- **npm**: https://www.npmjs.com/package/prompts

[code]

## Error message

After importing I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14.1

[2021-09-24 14:11] lucacasonato commented on #102
@ije Can I sponsor (Patreon, Paypal, GH Sponsors, or similar) you in any way to get this fixed?

[2021-09-24 14:15] ije commented on #102
@lucacasonato i will fix it very soon, no sponsor needed, thanks for your kind!

[2021-09-24 16:43] lucacasonato opened #173 "Alias option is not compatible with bundle"
[code]

Results in an error:

[code]

[2021-09-24 18:43] null-key opened #174 "Failed to import - prisma"
## Failing module

- **GitHub**: https://github.com/prisma/prisma
- **npm**: https://www.npmjs.com/package/prisma

[code]

## Error message

When I open the URL in my browser, I get the following export returned:

[code]

## Additional info

- **esm.sh version**: v47
- **Deno version**: 1.13.2

[2021-09-25 05:11] guiguan opened #175 "Dockerfile CMD env substitution"
The latest [dockerfile change](https://github.com/alephjs/esm.sh/blob/master/Dockerfile#L15):

[code]

Those env vars are not going to be substituted unless [a shell is wrapping them](https://docs.docker.com/engine/reference/builder/#cmd)

[2021-09-25 07:10] ije commented on #174
i just clean the yarn cache, but i got another error, will look into it

[code]

[2021-09-25 09:55] talentlessguy commented on #167
duplicate of #142

[2021-09-25 09:55] #167 closed

[2021-09-25 09:56] talentlessguy commented on #142
from @amatiasq:

[code]

[2021-09-25 09:59] talentlessguy commented on #141
in v53 I am getting this:

[code]

[2021-09-25 10:00] talentlessguy commented on #156
seems to work in latest version (incl. types), feel free to reopen if a problem persists

[2021-09-25 10:00] #156 closed

[2021-09-25 10:05] talentlessguy opened #176 "Failed to import - require-from-string"
## Failing module

- **GitHub**: https://github.com/floatdrop/require-from-string
- **npm**: https://www.npmjs.com/package/require-from-string

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14

[2021-09-25 10:11] talentlessguy opened #177 "Failed to import - miller-rabin@4.0.1"
## Failing module

- **GitHub**: https://github.com/indutny/miller-rabin
- **npm**: https://www.npmjs.com/package/miller-rabin

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14.1

[2021-09-25 10:15] talentlessguy opened #178 "Failed to import - diffie-hellman"
## Failing module

- **GitHub**: https://github.com/crypto-browserify/diffie-hellman
- **npm**: https://npmjs.org/package/diffie-hellman

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14.1

[2021-09-25 11:54] amatiasq commented on #167
@talentlessguy I think the analysis is worth copying too

[2021-09-25 11:57] amatiasq commented on #142
@talentlessguy Isn't this a different issue? I know they refer to the same module bit the errors que got are different so solving one doesn't necessarily mean the other will be fixed too.

Analysis copied from #167:

---

After analyzing the issue I found out it is because `helper-function-name.js` starts with [this import](https://github.com/babel/babel/blob/main/packages/babel-helper-function-na

[2021-09-25 11:57] ije commented on #167
@amatiasq yes, thanks for the details

[2021-09-25 11:59] talentlessguy commented on #142
@amatiasq done, thx

[2021-09-25 13:41] talentlessguy commented on #10
still fails because of #157

[code]

[2021-09-25 13:42] talentlessguy commented on #42
seems to work fine in v53

feel free to reopen if it persists

[2021-09-25 13:42] #42 closed

[2021-09-25 13:43] talentlessguy commented on #162
works smoothly in v53, closing

[2021-09-25 13:43] #162 closed

[2021-09-25 13:44] talentlessguy commented on #135
it now crashes not because of types but because of micromark?

[code]

[2021-09-25 13:46] talentlessguy opened #179 "Failed to import - micromark"
## Failing module

- **GitHub**: https://github.com/micromark/micromark
- **npm**: https://www.npmjs.com/package/micromark

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14.1

Related: #135

[2021-09-25 21:56] talentlessguy opened #180 "Failed to import - semver"
## Failing module

- **GitHub**: https://github.com/npm/node-semver
- **npm**: https://www.npmjs.com/package/semver

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14.1

[2021-09-25 23:57] akaFTS opened #181 "Random imports broken on CI/CD"
I'm using GitHub Actions to build my Aleph app to a SSG and deploy it to GitHub pages. However, the build phase is failing due to broken imports that change from run to run - already seen react-dom, recharts, and now font-awesome:

[code]

I didn't manage to grab one of those unparseable modules to verify what exactly is causing the EOF error.

[2021-09-26 14:25] ije commented on #181
closed in https://github.com/alephjs/aleph.js/commit/e51fabe76f4abedbb7c4549e4eda8b3ede2d2379

[2021-09-26 14:25] #181 closed

[2021-09-26 14:43] #175 closed

[2021-09-26 14:44] ije commented on #175
updated, thanks!

[2021-09-27 14:41] talentlessguy opened #183 "Failed to import - brorand"
## Failing module

- **GitHub**: https://github.com/indutny/brorand/blob/master/index.js
- **npm**: https://npm.im/brorand

[code]

## Error message

After running `deno run` I get this:

[code]

the error stacktrace for some reason comes from diffie-hellman, even though brorand has no dependencies

but it errors about `Rand`:

https://github.com/indutny/brorand/blob/ddc4f9344287769d7e2c2ea987d26b

[2021-09-27 16:20] talentlessguy opened #184 "Failed to import - @ethereumjs/tx"
## Failing module

- **GitHub**: https://github.com/ethereumjs/ethereumjs-monorepo/tree/master/packages/vm
- **npm**: https://npm.im/@ethereumjs/vm

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14.1

[2021-10-02 11:21] Industrial opened #185 "Failed to import - fp-ts"
## Failing module

- **GitHub**: https://github.com/gcanti/fp-ts
- **npm**: https://npm.im/fp-ts

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info
- **esm.sh version**: v53
- **Deno version**:  deno 1.14.1 (release, x86_64-unknown-linux-gnu), v8 9.4.146.15, typescript 4.4.2

Inspecting the problem I found that https://cdn.esm.sh/v53/fp-ts@2.11.4/lib/HKT/HK

[2021-10-03 19:36] talentlessguy opened #187 "WebAssembly support"
would be awesome if there was a loader for esbuild to process WASM files, for example for [pure-evm](https://github.com/armaniferrante/pure-evm) library:

[code]

rn it throws this as there's no loader:

[code]

[2021-10-05 23:00] ebramanti commented on #143
Seeing the same with `@solana/web3.js` on `v1.29.2`.

[2021-10-06 07:59] Stradivario opened #188 "Failed to import - parseCJSModuleExports: Get \"http://0.0.0.0:8088\": dial tcp 0.0.0.0:8088: i/o timeout""
First of all thank you very much for this wonderful CDN it opens the world for my packages with `Deno` i was able to run almost all packages that i am having without writing single line of code!

## Failing module

- **GitHub**: https://github.com/rxdi/ui-kit/tree/master/src/accordion
- **npm**: https://www.npmjs.com/package/@rxdi/ui-kit

[code]

## Error message

After running `deno run` I get th

[2021-10-09 08:48] KotlinIsland opened #189 "Failed to import -"
## Failing module

- **GitHub**:
- https://github.com/DetachHead/ts-helpers
- **npm**:

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v53
- **Deno version**: 1.14.3

[2021-10-11 08:34] Stradivario commented on #188
Now it is working correctly i don't know what causes this error to show :)

This is why i write it down in order to have a clue that in this particular moments this things happen!
If you look at the logs from that day inside the server itself you will see what causes this error.

Maybe the cluster somehow self heal ?

In kubernetes is not rare thing to self heal the container if something is not w

[2021-10-11 08:35] #188 closed

[2021-10-11 08:44] Stradivario commented on #163
I can see now it is working

[code]

shows

[code]

Cheers

[2021-10-11 14:01] talentlessguy commented on #123
works in latest v53:

[code]

[2021-10-13 06:56] call-a3 opened #192 "Failed to import - styled-jsx"
## Failing module

- **GitHub**: https://github.com/vercel/styled-jsx/blob/master/src/style.js
- **npm**: https://www.npmjs.com/package/styled-jsx

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v54
- **Deno version**: 1.14.3

[2021-10-20 02:42] voltrevo opened #193 "Failed to import - bls-wallet-signer@0.5.1-testDirectBls.3"
## Failing module

- **GitHub**: https://github.com/jzaki/bls-wallet/tree/bw-9-try-direct-hubble-bls
- **npm**: https://www.npmjs.com/package/bls-wallet-signer/v/0.5.1-testDirectBls.3

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v54
- **Deno version**: 1.14.1

When loading esm.sh/bls-wallet-signer@0.5.1-testDirectBls.3, x-typesc

[2021-10-20 08:59] JTBrinkmann opened #194 "link to esm.sh/HOSTING.md not working"
at the bottom of [esm.sh](https://esm.sh) there is a link to [/HOSTING.md](https://esm.sh/HOSTING.md). However the way the server works, this link doesn't show the HOSTING.md document. Instead it shows

As a workaround, the link could point to [the document on Github](https://github.com/alephjs/esm.sh/blob/master/HOSTING.md#readme). As a long term solution, "/HOSTING.md" could be added as an excep

[2021-10-20 16:58] ebramanti opened #195 "Failed to import - @project-serum/anchor"
## Failing module

- **GitHub**: https://github.com/project-serum/anchor/tree/master/ts
- **npm**: https://www.npmjs.com/package/@project-serum/anchor

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info
Looking at source, setting `process.env.NODE_ENV` at the top of the main file causes a duplicate import with the `process` dependency pulled in. Is it possib

[2021-10-25 16:20] roseMix opened #196 "Failed to import - `box-node-sdk`"
## Failing module

- **GitHub**:  https://github.com/box/box-node-sdk
- **npm**: https://www.npmjs.com/package/box-node-sdk

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v47
- **Deno version**: 1.13.0

[2021-10-29 20:40] sjmueller opened #197 "Failed to import - @aws-sdk/client-kms"
## Failing module

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

More context can be found here: https://github.com/aws/aws-sdk-js-v3/issues/2810#issuecomment-955015953:

If you look at the [original source](https://github.com/aws/aws-sdk-js-crypto-helpers/blob/master/packages/sha256-browser/src/index.ts#L1):
[code]
And then in [crossPlatformSha256.ts]

[2021-10-31 07:05] talentlessguy commented on #176
works in v55:

[code]

[2021-10-31 07:05] #176 closed

[2021-10-31 07:06] #177 closed

[2021-10-31 07:07] #178 closed

[2021-10-31 07:07] #183 closed

[2021-10-31 07:08] talentlessguy commented on #187
works fine in v55:

[code]

[2021-10-31 07:08] #187 closed

[2021-10-31 07:10] talentlessguy commented on #179
still having this error on v55:

[code]

[2021-10-31 07:10] #180 closed

[2021-10-31 07:12] talentlessguy commented on #193
now there's a new error:

[code]

[2021-10-31 07:15] talentlessguy commented on #197
new error on v55:

[code]

[2021-10-31 07:16] talentlessguy commented on #185
seems to be importing fine on v55

[2021-10-31 07:16] #185 closed

[2021-10-31 07:18] talentlessguy commented on #163
new error now on v55:

[code]

[2021-10-31 07:20] talentlessguy commented on #157
New error:

[code]

probably ".node" support should be a separate issue

[2021-10-31 07:23] talentlessguy commented on #174
new error on v55:

[code]

related: https://github.com/denoland/deno_std/pull/1151

[2021-10-31 07:24] talentlessguy commented on #192
new error with v55:

[code]

[2021-10-31 07:30] talentlessguy commented on #196
having this on v55 now:

[code]

[2021-10-31 07:39] talentlessguy commented on #18
on v55 it's this:

[code]

[2021-10-31 07:46] talentlessguy commented on #169
getting this on v55:

[code]

[2021-10-31 07:52] talentlessguy commented on #152
works fine on v55

[2021-10-31 07:52] #152 closed

[2021-10-31 09:10] uki00a opened #198 "Failed to import - monaco-editor@0.29.1/esm/vs/editor/editor.worker"
## Failing module

- **npm**: `monaco-editor@0.29.1`

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v55
- **Deno version**: 1.15.3

[2021-10-31 10:12] #198 closed

[2021-10-31 10:15] ije commented on #198
@uki00a thanks, i just fixed the import url, but seems the `monaco-editor` workers can not run in deno, something is `undefined`
<img width="807" alt="Screenshot 2021-10-31 at 18 14 23" src="https://user-images.githubusercontent.com/2883484/139577844-5307992a-2501-440f-9ef3-8958cd60e6d3.png">

[2021-11-01 13:03] x-yuri opened #199 "Specifying dependencies for intermediary packages"
Consider the following page:

[code]

It fails with:

On one hand:

https://esm.sh/react@17.0.0?dev
https://cdn.esm.sh/v55/react@17.0.0/es2015/react.development.js

On the other:

https://esm.sh/@material-ui/core@4.12.3/TextField?deps=react@17.0.0,react-dom@17.0.0&dev
https://cdn.esm.sh/v55/@material-ui/core@4.12.3/X-ZGVwczpyZWFjdC1kb21AMTcuMC4wLHJlYWN0QDE3LjAuMA/es2015/TextField.development.js
ht

[2021-11-01 14:36] lucacasonato opened #200 "Failed to import for he@1.2.0, on esm.sh v55"
## Failing module

- **npm**: he@1.2.0

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v55
- **Deno version**: 1.15.3

[2021-11-01 18:51] ije commented on #194
updated, thanks

[2021-11-01 18:51] #194 closed

[2021-11-01 18:54] #195 closed

[2021-11-01 18:54] #197 closed

[2021-11-01 18:54] #200 closed

[2021-11-01 18:56] ije commented on #200
fixed in v56, thanks @lucacasonato

[2021-11-02 03:38] sjmueller commented on #150
This happened to me with `v54` mixed in shortly after the `v55` release

[2021-11-02 10:28] lucacasonato opened #201 "Failed to import - https://esm.sh/prismjs@1.25.0"
## Failing module

- **npm**: prism@1.25.0

[code]

## Error message

408 Request Timeout

The request just hangs forever.

## Additional info

- **esm.sh version**: v56
- **Deno version**: 1.15.3

[2021-11-02 10:32] lucacasonato commented on #201
After retrying a couple of times it works, but its not reliable.

[2021-11-02 10:42] lucacasonato commented on #150
And same thing happening now for v55 and v56 update. Are you purging the Cloudflare cache after each release?

[2021-11-02 14:06] x-yuri commented on #199
Additionally it may fail for another reason, let's say we're importing again `react` and `mui`:

[code]

But `react` resolves to:

https://cdn.esm.sh/v56/react@17.0.2/es2021/react.development.js

And `mui`:

https://cdn.esm.sh/v55/@mui/material@5.0.6/es2021/TextField.development.js
https://cdn.esm.sh/v55/react-transition-group@4.4.2/es2021/react-transition-group.development.js
https://cdn.esm.sh/v

[2021-11-02 18:07] #201 closed

[2021-11-03 13:46] roseMix opened #202 "Failed to import - posthog-js"
https://cdn.esm.sh/v56/posthog-js@1.16.1/deno/posthog-js.js:6:47972

- **GitHub**: https://github.com/PostHog/posthog-js
- **npm**: https://www.npmjs.com/package/posthog-js

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v56
- **Deno version**: 1.15.3

[2021-11-03 15:43] lucacasonato commented on #150
Importing `https://esm.sh/he@1.2.0` still returns `https://esm.sh/he@1.2.0` still returns `https://cdn.esm.sh/v55/he@1.2.0/deno/he.js` for me. This is a rather serious issue. Is there any way I can help @ije?

[2021-11-03 16:40] c0per opened #203 "import npm package with multiple entry points"
When an npm package has multiple entry points (e.g. both `main` and `browser` entry in `package.json`), how am I supposed to specified witch entry point do I need.

Currently I'm trying to import `superagent`, wich has both `main` and `browser` in its `package.json`. I think esm.sh is building the `browser` version of the package even when I use `target=deno`.

Is there any way I can specified the

[2021-11-03 17:15] ije commented on #201
fixed this in v57

[2021-11-03 17:17] roseMix opened #204 "Failed to import - @supabase/supabase-js"
## Failing module

- **GitHub**: https://github.com/supabase/supabase-js
- **npm**: https://www.npmjs.com/package/@supabase/supabase-js

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v57
- **Deno version**: 1.15.3

[2021-11-03 17:19] ije commented on #150
@lucacasonato i just purged the cloudfleare cache, it works for me. In addition, I added the `pin` mode to lock the build version:
[code]

[2021-11-03 17:32] ije commented on #204
@roseMix try `?no-check` argument, i'll look into it! thanks

[2021-11-03 17:46] roseMix commented on #204
Thanks @ije works to get by original error, but now I'm getting this:

[code]

As far as I know there no known polyfill for `XMLHttpRequest` so I assume it's just unfixable at this point.

Thanks anyways!

[2021-11-03 17:57] lucacasonato commented on #150
That is great, thanks.

[2021-11-03 21:57] talentlessguy commented on #163
blocked by this on v57: https://github.com/denoland/deno_std/pull/1519 (not esm.sh bug)

[2021-11-03 21:59] talentlessguy commented on #18
same error on v57:

[code]

[2021-11-03 22:04] talentlessguy commented on #142
still getting on v57:

[code]

[2021-11-03 22:08] talentlessguy commented on #170
this seems to be the cause of this error:

[code]

esm.sh should use deno process for this, not `process` polyfill

[2021-11-04 15:59] lubomirblazekcz commented on #52
@ije any update on this?

[2021-11-04 18:56] elisee opened #205 "Failed to import - jsonschema"
## Failing module

- **GitHub**: https://github.com/tdegrunt/jsonschema
- **npm**: https://www.npmjs.com/package/jsonschema

[code]

## Error message

After running `deno run` I get this:

[code]

It used to work recently, not sure what happened or when it broke exactly as I only realized it broke when deploying on a new machine.

## Additional info

- **esm.sh version**: v54 (according to the log

[2021-11-04 20:45] lucacasonato opened #206 "?pin option is not working"
I am using `?pin=v57`, but `v55` is being used.

[code]

[2021-11-05 00:34] ije commented on #205
try `deno run -r ...`

[2021-11-05 10:57] elisee commented on #205
Thanks, it's working now. Seems to now use esm.sh v57.

I had to update my import:

[code]

[2021-11-05 10:57] #205 closed

[2021-11-05 14:55] #206 closed

[2021-11-05 20:03] Soremwar opened #207 "Failed to import a module with both pinned version and no check"
## Failing module

[code]

## Error message
error: Import 'https://esm.sh/jsonwebtoken@8.5.1?pin=v43&no-check=true' failed: 408 Request Timeout

## Additional info

- **esm.sh version**: v43
- **Deno version**: 1.11.5

[2021-11-06 04:31] TiKevin83 opened #208 "Failed to import - react-icons"
## Failing module

- **npm**: react-icons

[code]

## Error message

Uncached or missing remote URL: "https://esm.sh/react-icons/go".deno(no-cache)
(React from esm.sh caches fine in my VS Code)

## Additional info

- **esm.sh version**: v57
- **Deno version**: 1.15.3

[2021-11-06 05:17] ije commented on #207
<img width="822" alt="Screenshot 2021-11-06 at 13 15 31" src="https://user-images.githubusercontent.com/2883484/140598877-7d3f0a99-3a36-4056-a371-712e6823709b.png">
now it works, same problem to #206

[2021-11-06 05:17] #207 closed

[2021-11-06 05:21] ije commented on #206
fixed in https://github.com/alephjs/esm.sh/commit/0e47247f91c4335ccd5e6cbba7fa1d1340b8662e, and i am creating a front layer on cloudflare edge to get faster response instead of requesting the origin server to check npm version.

[2021-11-06 10:07] nnmrts opened #209 "Unable to override `target=deno` when using Deno"
After reading the "Specify ESM target" section on https://esm.sh/, I assumed

means that I can override that beahaviour by using `?target`.

But it seems like that's not the case. See for example this import, the second and every url after it has `deno` instead of `esnext` in it:

![Bildschirmfoto 2021-11-06 um 10 10 12](https://user-images.githubusercontent.com/20396367/140604500-48ac5f59-7499-46

[2021-11-07 22:44] clo4 opened #210 "Where is the best place to report an outage?"
[This failed CI run is the first time I noticed.](https://github.com/SeparateRecords/deno_jamf_school/runs/4132975768?check_suite_focus=true)

Where is the best place to report if there's an outage? GH Issues, Discussions, or somewhere less formal?

*(Edit: esm.sh was down before, changed title to reflect the question now that it's up again now)*

[2021-11-07 23:09] ralyodio commented on #210
i noticed this too.

[2021-11-10 20:55] hsjoberg opened #211 "A lot of modules fail: ENOSPC: no space left on device"
For example: https://cdn.esm.sh/v57/lodash@4.17.21/deno/keys.js

[code]

It looks like you just don't enough disk space?

[2021-11-10 21:02] watzon commented on #211
Came here to leave this same issue

[2021-11-11 00:17] voxsoftware commented on #211
yarn add luxon@2.1.1: yarn add v1.22.11
info No lockfile found.
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
error Could not write file "/tmp/esm-build-c38732cb74038d8eff400b46b1a34799408a05a3-2b6d1ae2/yarn-error.log": "ENOSPC: no space left on device, open '/tmp/esm-build-c38732cb74038d8eff400b46b1a34799408a05a3-2b6d1ae2/yarn-error.log'"
error An unexpected

[2021-11-11 00:17] talentlessguy commented on #211
same problem, @ije might be worth clearing up `node_modules` on the server

[2021-11-11 02:29] ije commented on #211
i just clean the build cache dir, seems lot of tasks didn't clean the build dir after build

[2021-11-11 06:42] fakership opened #212 "Failed to import -"
## Failing module
mkdirp
- **GitHub**:
- **npm**:

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v55
- **Deno version**: 1.15.3
![image](https://user-images.githubusercontent.com/16553183/141250453-41edcc92-e35b-4bce-9a06-61a8148b528f.png)

[2021-11-11 07:03] ije commented on #212
nodejs fs module doesn't work in browsers for now

[2021-11-11 08:34] #212 closed

[2021-11-11 16:53] talentlessguy commented on #196
still on v57

this seems to be causing the error:

[code]

[2021-11-11 16:55] talentlessguy commented on #193
seems to import fine on v57:

[code]

[2021-11-11 16:55] #193 closed

[2021-11-11 18:34] #211 closed

[2021-11-11 22:46] talentlessguy opened #213 "init ESM: open .../node_modules/@ganache/rlp/package.json: no such file or directory"
esm.sh stopped working for some reason:

for example: `export { encodeRange, digest } from 'https://esm.sh/@ganache/rlp?pin=v57'`

[this page](https://esm.sh/@ganache/rlp?pin=v57) returns this:

[code]

[2021-11-14 10:50] dpeter99 commented on #213
Hi! I'm having a similar problem:
When I try to import markdown-it using the following:
[code]
I get the following log:
[code]

[2021-11-14 16:23] abetaev opened #214 "Failed to import - d3-selection"
## Failing module

- **GitHub**: https://github.com/d3/d3-transition
- **npm**: https://www.npmjs.com/package/d3-transition

[code]
## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v55
- **Deno version**: 1.16.1

[2021-11-14 17:16] ralyodio opened #215 "request timed out"
[code]

[code]

[2021-11-17 06:11] talentlessguy commented on #215
is this bug still present?

[2021-11-17 09:17] samlaycock commented on #215
I'm getting the same trying to import `@aws-sdk/client-kinesis`:

[code]

[code]

Had it with other `@aws-sdk` packages, but they eventually worked after waiting a while. This has been like this since I originally tried to download it 2 days ago...

[2021-11-17 22:29] jacque006 commented on #215
I'm also encountering this. Seems to fail for some packages but works for others.

#### HTTP 408
- https://esm.sh/bls-wallet-clients@0.2.2
- https://esm.sh/bls-wallet-clients@0.3.0-rc.3
- https://esm.sh/bls-wallet-clients
- https://esm.sh/rascal

#### Works fine
- https://esm.sh/react
- https://esm.sh/ethers
- https://esm.sh/ethers@5.5.1

Looks like some more heavily used/common packages that are

[2021-11-18 03:51] deckchairlabs commented on #215
Had this output presented to me, after I received a 408 previously. Looks like the CDN has cached the output of the process even though it failed to process the request.

You should be able to see the same output by visiting https://esm.sh/react-router-dom/server

<pre>
yarn add react-router-dom@6.0.2: yarn add v1.22.11
info No lockfile found.
[1/4] Resolving packages...
[2/4] Fetching packages...

[2021-11-18 14:47] ije commented on #215
I just released **v58**, fixed the build cache problem (build task did not delete the cache directory after build randomly that stolen a lot system space).

[2021-11-18 18:54] jacque006 commented on #215
Confirmed that issue is resolved/fixed on my end, thanks @ije !

[2021-11-20 18:07] samlaycock commented on #215
@ije thanks for the update, but I'm still having problems importing into Deno. It seems that `/es2021` builds are fine, but the `/deno` ones still seem to time out.

I can run this project locally and it appears to work fine using `localhost:8080`, it's only when downloading from `https://esm.sh` that the timeouts happen.

[2021-11-21 02:41] ije commented on #215
@samlaycock which package you import? i will look into it

[2021-11-21 06:49] DetachHead commented on #215
@ije getting 408 trying to use any of my packages, eg. https://esm.sh/@detachhead/ts-helpers

[2021-11-22 02:57] SeparateRecords commented on #215
I'm getting timeouts with the lastest AJV versions (8.6.3 works for me but it might be cached, 8.7.0+ is broken)
https://esm.sh/ajv@8.8.2/dist/jtd

[2021-11-22 05:51] ije commented on #215
@SeparateRecords I just recovered the stable queue used before in https://github.com/alephjs/esm.sh/pull/218/commits/c2677efdcd58586fc9c8d794056ba52e7fd02ab6

[2021-11-22 09:30] talentlessguy opened #219 "Failed to import - ipfs-http-client"
## Failing module

- **GitHub**: https://github.com/ipfs/js-ipfs/tree/master/packages/ipfs-http-client
- **npm**: https://npm.im/ipfs-http-client

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v58
- **Deno version**:  1.16.2

[2021-11-22 09:33] talentlessguy commented on #163
main module is now importing fine on v58 but `fetch-blob/from.js` breaks because of `worker_threads`:

[code]

[2021-11-22 09:51] samlaycock commented on #215
@ije Hey, sorry for the delayed response. My issue was around some dependencies related to `@aws-sdk/*` packages, but it appears this is now fixed with the latest changes. Thanks!

[2021-11-24 09:11] myobie commented on #215
I'm seeing timeouts for `preact/debug` and `preact/test-utils`. `preact` and `preact/hooks` are working. I've tried to pin back a couple versions, but they timeout as well.

[2021-11-25 11:14] johanbrook commented on #215
As of today, with esm.sh v58, I'm also seeing timeouts for https://esm.sh/preact@10.

[2021-11-25 11:18] johanbrook commented on #215
Now it works again, but I briefly saw this while refreshing:

[code]

[2021-11-25 12:12] DreamTexX opened #220 "Failed to import - unsupported-nodejs-builtin-module repl"
## Failing module

- **npm**: https://www.npmjs.com/package/ts-node

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v58
- **Deno version**: 1.16.2

[2021-11-25 20:12] ebramanti opened #221 "Failed to import for js-sha3, on esm.sh v58"
## Failing module

- **GitHub**: https://github.com/emn178/js-sha3
- **npm**: js-sha3@0.8.0

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v58
- **Deno version**: 1.15.3

Seems like a similar issue to #200, but seems to have been resolved for that particular package.

[2021-11-25 20:13] ebramanti commented on #221
In my use-case, this is a sub-dependency, is there any way I can override the esm.sh version for a nested dependency with the `deps` flag?

[2021-11-25 23:29] myobie commented on #215
Just FYI – I've setup a copy of `esm.sh` to run in my infra and it is able to build and serve all the packages I am using without any timeouts, so I do think the production builds of some packages are stuck in some way I don't understand. Also, thanks for making it so easy to boot up and host ❤️

[2021-11-26 04:07] ije commented on #215
i improved the nodejs service in https://github.com/alephjs/esm.sh/pull/218/commits/65f0b94172e3dbd1e5900bbc3f5b701013f5eac0, which may block the message channel then case the timeout problem

[2021-11-26 08:46] talentlessguy commented on #220
repl isn't implemented yet in deno_std

https://github.com/denoland/deno_std/tree/main/node

[2021-11-26 11:33] DreamTexX commented on #220
There is a esm.sh/repl can i use this somehow or is this something different? Tried with ?alias and ?deps but that does not seem work

[2021-11-26 12:33] myobie commented on #215
So far, every package I've tested on esm.sh has worked, so your fix may have indeed fixed the timeouts. I'll keep checking for the next few days and let you know if I see anymore.

[2021-11-27 01:24] nnmrts commented on #215
Yup, this fixed everything, thanks @ije. For example, `react@18` just didn't work before, now it does without any problems.

[2021-11-27 01:33] ebramanti commented on #143
Bumping this, still seeing this issue on the latest version of `@solana/web3.js` (`v1.31.0`).

[2021-11-28 17:50] zicklag commented on #143
I'm running into the issue with Solana, too. I'm not sure I can help, but are there any pointers for how to go about fixing this?

[2021-11-28 19:00] ebramanti commented on #143
Open issue for this, alephjs/esm.sh#221

[2021-12-03 03:01] #215 closed

[2021-12-09 22:18] hazae41 opened #224 "Failed to import - http2 (builtin node module)"
## Failing module

- **GitHub**:  https://github.com/fauna/faunadb-js
- **npm**: faunadb / http2

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v55
- **Deno version**: 1.16.4

[2021-12-11 13:17] misogohan opened #225 "Lack of X-TypeScript-Types header for sub modules of react"
## Case
I knew that [Deno 1.16 supports new JSX transforms](https://deno.com/blog/v1.16#support-for-new-jsx-transforms), and have tried it with https://esm.sh/react.

Minimum code:
[code]
[code]

After running `deno run`, I got this:
[code]

However, I can dispense with these errors when I use https://esm.sh/preact instead of react.

## Cause
With the new JSX transforms, TypeScript implicitly look

[2021-12-11 13:22] talentlessguy commented on #224
there's no http2 module yet in deno_std

[2021-12-11 18:25] abetaev opened #226 "Failed to import - @mui/icons-material/*"
## Failing module

- **GitHub**: https://github.com/mui-org/material-ui/tree/master/packages/mui-icons-material
- **npm**: https://www.npmjs.com/package/@mui/icons-material

[code]
as well as any import from `@mui/icons-material/*`

## Error message

it times out and at some point responds with the following:
[code]

After running `deno bundle` I get this:

[code]

## Additional info

- **esm.sh v

[2021-12-13 16:25] kiuma opened #227 "Failed to import - lit"
## Failing module

- **GitHub**:
- **npm**:

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v58
- **Deno version**: 1.16.4

[2021-12-13 16:38] lilnasy commented on #227
I ran into the same issue today. I was hoping it just affects v58 but it goes back quite a bit.

[2021-12-14 06:55] jpsk opened #228 "Failed to import - ink@3.2.0"
## Failing module

- **ink@3.2.0**

[code]

## Error message

[code]

## Additional info

- **esm.sh version**: v58
- **Deno version**: deno 1.16.4 (release, x86_64-apple-darwin) / v8 9.7.106.15
- **typescript**: 4.4.2

[2021-12-14 16:52] #228 closed

[2021-12-15 04:19] abetaev opened #229 "Deno babel helpers import fails"
Something wrong is going on with the server
`GET https://cdn.esm.sh/v58/@babel/runtime@7.16.5/deno/helpers/esm/extends.js`
results in
`500 Internal Server Error`
and the following body:
[code]

My build works just fine with local cache, but my CI fails with this error. Trying to add other dependencies locally causes this error during local build. Seems that something's affected the way esm.sh bund

[2021-12-17 01:07] KyleJune commented on #225
It might be that if url + '/index.d.ts' does not exist, it assumes there isn't a types file for it. I found another module that it was able to add x-typescript-types header for sub modules.
`https://esm.sh/@heroicons/react@1.0.5/outline`
It's types was
`https://esm.sh/@heroicons/react@1.0.5/outline/index.d.ts`.

Maybe having it fallback to checking '.d.ts' would be a reasonable solution that would

[2021-12-17 23:52] lucacasonato opened #231 "Update deno.land/std/node version"
ESM.sh is still using deno.land/std@0.115.0. This version has a bug in Deploy. Can you update to 0.115.1 or later?

[2021-12-18 15:09] danforbes opened #232 "Failed to import - @polkadot/api"
## Failing module

- **GitHub**: https://github.com/polkadot-js/api/tree/master/packages/api
- **npm**: https://www.npmjs.com/package/@polkadot/api

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

[code]

[2021-12-19 01:44] DrSensor opened #233 "Wrong mime type when fetching wasm module"
`https://cdn.esm.sh/v58/@swc/wasm-web@1.2.120/es2021/wasm_bg.wasm`
will give mime-type "text/javascript" instead of "application/wasm"

This example will fail in the most recent browser
[code]

#### in Firefox 95
❌ error message
[code]
⚠ with a warning
[code]

#### in Chromium 96
❌ error message
[code]
⚠ with a warning
[code]

[2021-12-19 02:14] DrSensor commented on #233
Looking at the body response of `https://cdn.esm.sh/v58/@swc/wasm-web@1.2.120/es2021/wasm_bg.wasm`
[code]

Seems like it doesn't properly resolve `new URL('wasm_bg.wasm', import.meta.url)` ([source](https://unpkg.com/browse/@swc/wasm-web@1.2.120/wasm.js) line 217).
Exposing all package.json `files` into `https://cdn.esm.sh/:version/:pkg_name@:pkg_version/:target/*` should fix this.

[2021-12-19 19:38] KyleJune opened #234 "x-typescript-types header ignores module version and deps version"
## Issue

If you try to use the react module pinned to 17.0.2, it ignores the version when choosing the x-typescript-types header. Below is the url I used and the types header I got for it. The types header should be 17.0.2 like the module I'm importing.

https://esm.sh/react@17.0.2

x-typescript-types
	https://cdn.esm.sh/v58/@types/react@17.0.35/index.d.ts

This also applies to deps. If I make a

[2021-12-19 19:42] KyleJune opened #235 "Child dependencies ignore dependency overrides on parent module"
## Issue

react-router-dom has a dependency that has an issue, history@5.2.0 fails, so I tried overriding it with history@5.1.0. It works but only for react-router-dom. react-router-dom depends on react-router. the react-router dependency is ignoring the history override resulting in react-router-dom still trying to load history@5.1.0.

https://esm.sh/react-router-dom@6.2.1?deps=react@17.0.2,histo

[2021-12-19 23:17] KyleJune commented on #235
I found a way to resolve the issue using the following import map.

[code]

[2021-12-20 05:35] KyleJune commented on #235
Looks like I will need to make copies and manually fix the imports to be able to use these modules with deno deploy since deploy does not support import maps yet.

[2021-12-20 21:20] abetaev opened #236 "Importing uuid leads to dependencies on Deno namespace"
## Failing module

- **GitHub**: https://github.com/uuidjs/uuid
- **npm**: https://www.npmjs.com/package/uuid

[code]

## Error message

After running `deno bunlde` I get this:
[code]

i bundle for web browser, so Deno namespace is not available, yet somehow references to std library...

## Additional info

- **esm.sh version**: v58 (running locally)
- **Deno version**: 1.17.0

[2021-12-21 12:26] jespertheend commented on #156
I'm still having this issue on deno 1.17.
Also the `deno coverage` command doesn't have `--no-check` support (https://github.com/denoland/deno/issues/13161)

[2021-12-21 12:42] KyleJune commented on #234
It appears most other react based modules are using 17.0.37. to resolve this error I import 17.0.2 but use a deno types comment to have it use the 17.0.37 types instead of the 17.0.35 types from the x-typesceipt-types header.

Ideally the types would always match the version specified. I think I might have tried 17.0.2 types but they were not working. I don't recall.

[2021-12-21 12:57] KyleJune commented on #235
Here are the changes I made to get these modules to work on deno deploy without import maps.

https://github.com/KyleJune/deno-tailwind-ui-react-example/tree/main/deps

For react I'm just overriding the react@17.0.35 x-typescript-types header with react@17.0.37 types. the reason why is that other modules like react-dom use those types for their react@17.0.2 dependency.

For react-dom I'm just over

[2021-12-21 13:26] talentlessguy commented on #232
this is the error

[code]

module resolution errors

[2021-12-21 14:05] ayoreis commented on #229
I also have this error when trying to import react-router-dom! Hopefully, it get fixed soon.

[2021-12-21 14:24] KyleJune commented on #229
The latest working version is https://cdn.esm.sh/v58/@babel/runtime@7.16.3/deno/helpers/esm/extends.js. I encountered this issue when trying to use react-router-dom. I resolved it for my project by manually overriding the history@5.2.0 which used the broken babel runtime dependency with history@5.1.0 which used the latest working babel runtime.

https://github.com/alephjs/esm.sh/issues/235

[2021-12-21 14:31] ayoreis commented on #229
@KyleJune I am having the same issue! So how do I import `react-router-dom`? I didn't understand.

[2021-12-21 14:40] KyleJune commented on #229
You can copy my deps folder that has the fixed versions of react, react-dom, react-router-dom, and react-router then import from them instead of importing from esm.sh. I just took the esm.sh files and modified them to get them working. In the below deps.ts file, you can see it imports from my local deps directory instead of from the esm.sh urls. I plan on switching back to esm once issues are reso

[2021-12-21 21:16] Tentacola commented on #227
So the problem is that deno tries to load the types from the wrong url
Not sure if this is a problem with deno or that esm.sh provides the wrong url.
All of them put the wrong extension at the end `.js~.d.ts` instead of `.d.ts`

However a workaround can be to override the types manually with the correct type file.
Here are some examples how to do that:
[code]

[2021-12-22 07:44] quaos commented on #235
I tried this way, but it seemed not working with `deno bundle`

[2021-12-22 13:14] KyleJune commented on #235
What is the error you are getting? What version of deno are you using? It worked for me on the latest version of deno. As mentioned in my last comment, I switched to not using an import map but it was working locally when I used that import map before.

https://github.com/KyleJune/deno-tailwind-ui-react-example

[2021-12-22 23:55] abetaev commented on #229
guys, the issue seems to be related to infrastructure, not to the code of esm.sh. i have setup esm.sh locally on my dev machine and directed deno to look at it using import maps. i can import everything without a problem now and it works much faster than through hosted service.

i can suggest the following:
1. run docker container
[code]
2. and `--import-config imports.json`, where `imports.json`

[2021-12-23 14:24] KyleJune commented on #229
It's still an issue that esm.sh can end up in a bad state like this that it doesn't recover from on its own. I don't think most people would host their own instance of esm.

[2021-12-24 11:17] SinaMobasheri opened #237 "Failed to import - Ink"
## Failing module

- **GitHub**: https://github.com/vadimdemedes/ink
- **npm**: https://www.npmjs.com/package/ink

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v55
- **Deno version**: 1.17.0

[2021-12-27 13:16] ije commented on #233
you should access the non-js files via `https://cdn.esm.sh/@swc/wasm-web@1.2.120/wasm_bg.wasm`

[2021-12-27 13:16] #233 closed

[2021-12-27 14:14] #231 closed

[2021-12-28 20:00] SinaMobasheri commented on #237
Problem Solved, Thanks 🙏🏻💡

[2021-12-28 20:00] #237 closed

[2021-12-29 23:15] voxsoftware opened #240 "Failed to import - https://esm.sh/vue@3.2.26/dist/vue.esm-browser.js"
## Failing module

- **npm**: vue@3.2.26/dist/vue.esm-browser.js
[code]

## Error message

[code]

## Additional info

- **esm.sh version**: v59
- Importing directly from https://esm.sh/vue@3.2.26 not working because mount() produces an empty renderer similar to this. #53
- Importing from unpkg is ok: https://unpkg.com/vue@3.2.26/dist/vue.esm-browser.js

[2021-12-30 11:16] crowlKats opened #241 "Failed to import - react-fontawesome imports `cdn.esm.shreact`"
## Failing module

- **GitHub**: https://github.com/FortAwesome/react-fontawesome
- **npm**: https://www.npmjs.com/package/@fortawesome/react-fontawesome

[code]

## Error message

After running `deno run` I get this:

[code]
The AssertionError is "expected", as tsc isn't emitting something that it is expected

## Additional info

- **esm.sh version**: v59
- **Deno version**: 1.17.1

[2021-12-30 15:18] voxsoftware commented on #84
I see now is ?target=node thanks

[2021-12-30 15:18] #84 closed

[2021-12-30 15:19] voxsoftware opened #242 "How to set user-agent to require target=node ?"
Hi, ?target=node was implemented after I report this enhancement: #84
And is good, but how specify in user-agent target=node ?
I tried setting user-agent to ```Node/14``` but  returned es2021 target.

[2022-01-01 16:28] firstdorsal opened #243 "Failed to import -"
## Failing module

- **GitHub**:  https://github.com/bcherny/json-schema-to-typescript
- **npm**: https://www.npmjs.com/package/json-schema-to-typescript

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v54 or v59?
- **Deno version**:
deno 1.17.0 (release, x86_64-unknown-linux-gnu)
v8 9.7.106.15
typescript 4.5.2

[2022-01-02 19:30] voxsoftware opened #244 "Failed to import - https://esm.sh/fastify@3.25.3?target=node"
## Failing module

- **npm**: https://esm.sh/fastify@3.25.3?target=node

## Error message
[code]

## Additional info
- **esm.sh version**: v59

[2022-01-03 12:06] aiotter opened #245 "Failed to import - react-schemaorg (ONLY ON esm.sh / works fine on self-host)"
## Failing module

- **GitHub**: https://github.com/google/react-schemaorg
- **npm**: https://www.npmjs.com/package/react-schemaorg

[code]

## Error message

After running `deno run` I get this:

[code]

## Additional info

- **esm.sh version**: v59 (6c01b15e33cbe575f474f1c632123abcf03d9531)
- **Deno version**: 1.17.1

Checking out 6c01b15e33cbe575f474f1c632123abcf03d9531 and execute `go run main

[2022-01-04 07:08] #244 closed

[2022-01-04 07:14] ije commented on #245
Close by 8bfa3d3

[2022-01-04 07:14] #245 closed

[2022-01-04 07:59] aiotter commented on #245
Thanks😉

[2022-01-04 13:14] nnmrts opened #246 "import returns `undefined` on v59, but not on v58"
To reproduce, do this in deno repl:

[code]

logs `undefined`

[code]

logs the module as expected

[2022-01-04 15:19] #246 closed

[2022-01-04 15:37] ije commented on #242
since node.js don't support url import, i don't know what `user-agent` is right.

[2022-01-04 15:40] talentlessguy commented on #243
try to add `?pin=v60` in the end

[2022-01-04 15:40] talentlessguy commented on #243
seems to be working for me:

[code]

[2022-01-04 15:40] #243 closed

[2022-01-04 15:44] talentlessguy commented on #232
another error on v60:

[code]

this happens because `https://esm.sh/@polkadot/x-global?pin=v60` is null for some reason.

[2022-01-04 15:45] talentlessguy commented on #141
on v60, this happens:

[code]

[2022-01-04 15:47] talentlessguy commented on #179
now there is this error:

[code]

[2022-01-04 16:00] ije commented on #179
<img width="571" alt="Screenshot 2022-01-04 at 23 58 44" src="https://user-images.githubusercontent.com/2883484/148087004-bc01109e-f1ea-442e-899c-beb315ee7ee5.png">
seems it works in my local server

[2022-01-04 16:47] ije commented on #229
This should be fixed in the latest update

[2022-01-04 17:46] #225 closed

[2022-01-04 17:46] firstdorsal commented on #243
Thank you!
The import works but when trying to compile a json schema to ts it throws:
[code]

I already tried `console.log(await jstt.compile(schemaJSON, "Input", { cwd: Deno.cwd() }));` to set the cwd with deno instead of the default `process.cwd()`

[2022-01-04 17:52] ije commented on #225
now support submodule types from `@types`
example: https://github.com/alephjs/esm.sh/tree/master/test/deno/react-jsx-runtime

[2022-01-04 18:34] ije commented on #243
plz try to run deno with `--location=https://localhost` option

[2022-01-04 19:01] talentlessguy commented on #179
@ije could you clean up the build dir for CDN then please

[2022-01-04 19:58] firstdorsal commented on #243
thanks!

this worked:
[code]

[2022-01-05 07:12] ije commented on #241
I can not repeat it, more details?

<img width="894" alt="Screen Shot 2022-01-05 at 15 11 33" src="https://user-images.githubusercontent.com/2883484/148175387-552ac477-efc6-4d0a-ad52-89391f7ec9d1.png">

[2022-01-05 08:18] nnmrts commented on #246
@ije Thanks for the fix, seems to be working in v61 now. Just wanted to point out that the output of `console.log(esprima)` is a bit different now:

v58:

[code]

v61:

[code]

The `default` property here also just resolves to `undefined`. Don't get me wrong, everything works now, but I just wanted to inform you **how** the behaviour changed in this particular case, maybe it's of use.

[2022-01-05 11:39] ije commented on #246
thanks for pointing out that. i just updated the bundle entry code for cjs that removes the undefined `default` export.
this happened by esbuild 0.14.x changed the handling of `default` exports and the `__esModule` marker.

[2022-01-07 18:23] drmercer-lucid opened #247 "Failed to import - ink (types)"
## Failing module

- **GitHub**: https://github.com/vadimdemedes/ink
- **npm**: https://www.npmjs.com/package/ink

[code]

## Error message

After running `deno run --unstable test.ts` I get this:

[code]

## Additional info

- **esm.sh version**: v58
- **Deno version**: 1.17.2

The `Download https://cdn.esm.shchalk/` and `Download https://cdn.esm.shcli-boxes/` lines seem very broken. If I do `den

[2022-01-07 18:43] talentlessguy commented on #247
latest version is v61

but it still fails to build due to this:

[code]

[2022-01-07 18:47] talentlessguy commented on #241
works fine on v61:

[code]

[2022-01-07 18:49] talentlessguy commented on #227
it now fails bc of this:

[code]

[2022-01-07 18:50] talentlessguy commented on #221
seems to import on v61:

[code]

[2022-01-07 18:50] #221 closed

[2022-01-07 23:08] drmercer-lucid commented on #247
@talentlessguy Thanks for the tip about the version. If you add `--ext ts` to your command to make it do type checking, you'll see the type errors still happen:

[code]

[2022-01-07 23:37] crowlKats commented on #241
Sorry for the late reply. Please try to run it in a ts file, or eval with ts, not repl or standard eval

[2022-01-08 10:03] talentlessguy commented on #241
ok I see now:

[code]

[2022-01-08 19:12] voxsoftware commented on #242
My project kwruntime supports URL import: https://github.com/kwruntime/core
esm.sh added support to  my runtime adding node=target: https://github.com/alephjs/esm.sh/issues/84

I know that oficcially node doesn't import URL, but taking consideration you added target=node, I think user-agent can be checked like this: Node/14 Node/16. In other words, if user-agent contains: Node/(version-number) sam

[2022-01-09 23:55] KyleJune opened #248 "Failed to import - @testing-library/react and lz-string"
## Failing module

This module is used for testing react components.

- **npm**: https://www.npmjs.com/package/@testing-library/react

[code]

## Error message

After running `deno run --config=deno.json test_deps.ts` I get this:

[code]

## Additional info

- **esm.sh version**: v61
- **Deno version**: 1.17.2

I checked https://cdn.esm.sh/v61/lz-string@1.4.4/deno/lz-string.js and compressToEncode

[2022-01-09 23:58] KyleJune commented on #58
I encountered a similar issue related to the lz-string module's exports. It appears to not just be an issue with the types. Importing compressToEncodedURIComponent from it doesn't work for me even if I add no-check.

https://github.com/alephjs/esm.sh/issues/248

[2022-01-10 00:20] KyleJune commented on #248
It looks like the issue might be that lz-string is exporting default but not exporting the values like it is expected to. I'm able to lz-string by doing the following and lzString has compressToEncodedURIComponent on it.

[code]

If I import * as lzString, the only key on lzString is default.

[2022-01-10 00:55] KyleJune commented on #248
I checked the source for @testing-library/dom, it looks like it expects lz-string to be imported in the way it is being imported in the source code.

https://github.com/testing-library/dom-testing-library/blob/066a41f80e9a6d3c0d248a3ed915c1c52501cf4b/src/screen.ts

Based on that, I think the issue is with lz-string exports being broken on esm.sh

[2022-01-10 06:04] ije commented on #248
thanks for the details! i will look into it

[2022-01-10 10:55] Tentacola commented on #227
Nice that is progress :)
I think that error is probably because you are not using the "dom" library in typescript settings.
See [here](https://deno.land/manual@v1.17.2/typescript/configuration#targeting-deno-and-the-browser)

[2022-01-11 02:45] #240 closed

[2022-01-11 02:45] #242 closed

[2022-01-11 02:45] #248 closed

[2022-01-15 18:37] KyleJune opened #249 "Failed to import - React-helmet-async and invariant"
## Failing module

- **npm**: https://www.npmjs.com/package/react-helmet-async
- **npm**: https://www.npmjs.com/package/invariant

[code]

## Error message

After running `deno run` I get this:

[code]

If I go to the invariant link, I get the following response body.

[code]

This error doesn't happen if I switch to using pin=v61.

## Additional info

- **esm.sh version**: v62
- **Deno version**:

[2022-01-15 18:43] ije commented on #249
it works for me, can you please try again?

[2022-01-15 18:54] KyleJune commented on #249
Looks like I tmight be a cloudflare issue. I just tried it again and checked response headers. I'm getting the same body response as shown in my original post. If the region I'm in is relevant to the cdn issue, I'm in Chicago, Illinois, US.

![image](https://user-images.githubusercontent.com/3241653/149634241-c4d2f7d4-73e3-4891-ae2d-92c7706a735e.png)

Here is a copy of the report-to JSON from the

[2022-01-15 18:58] KyleJune commented on #249
I tried turning on my VPN and got same results with California, New York, and United Kingdom.

[2022-01-15 19:16] ije commented on #249
<img width="1151" alt="Screen Shot 2022-01-16 at 03 15 53" src="https://user-images.githubusercontent.com/2883484/149634965-f9417abd-73f3-4c6c-97b5-ae1d09d3710d.png">

[2022-01-15 19:17] KyleJune commented on #249
I just tried again and it is working now.

[2022-01-15 19:18] ije commented on #249
thanks, i am checking the logs to find what happened

[2022-01-15 19:18] ije commented on #249
let's keep this issue open, thanks

[2022-01-15 20:08] #249 closed

[2022-01-15 20:11] ije commented on #249
i found the node service process exited unexpectedly, i just added a logic to restart the node service when request timeout

[2022-01-17 16:41] YousefED opened #250 "Failed to import - h3-js"
## Failing module

- **npm**: h3-js

h3-js fails to import from a browser environment. You can see that the official esm build (https://unpkg.com/h3-js@3.7.2/dist/h3-js.es.js) optionally imports the `fs` module, but only when in a node-based environment. My guess is that the esm.sh version always imports the `fs` module, and therefore breaks.

[code]

## Error message

`Error: 500  https://cdn.esm

[2022-01-18 09:56] #250 closed

[2022-01-18 10:03] ije commented on #250
@YousefED thanks, now it works

[2022-01-18 10:42] YousefED commented on #250
Wow awesome, thanks for the quick response!

Trying to understand the issue and inner workings of esm.sh, can you explain why in esm.sh the `fs` library is imported at all? While in https://unpkg.com/h3-js@3.7.2/dist/h3-js.es.js the `fs` library is optionally imported? I assume this is because `esbuild` compiles the library with different settings than the original module?

Does esm.sh reuse ESM c

[2022-01-18 11:16] YousefED opened #251 "Probably shouldn't include prerelease versions"
Checking this file: https://cdn.esm.sh/v63/@deck.gl/layers@8.6.5/es2021/layers.js

It occured to me that it's loading /v63/@deck.gl/core@8.7.0-alpha.9/es2021/core.js.

It makes sense that esm.sh loads the latest available version of dependencies, but I think prerelease versions (`alpha.9`) should be prevented

[2022-01-18 17:56] ije commented on #251
@YousefED thanks, i will look into it

[2022-01-18 18:02] ije commented on #250
it transpiles code follow the js file defined by `main` and `module` in the package.js

[2022-01-18 18:10] #99 closed

[2022-01-18 18:15] ije opened #252 "Roadmap of 2022"
### Roadmap List
- [x] use cloudflare worker as front layer
- [ ] ~~preload deps~~
- [ ] ~~transform jsx/ts/tsx/vue/svelte for browsers from **github**~~
[code]

[2022-01-21 07:14] aiotter opened #253 "Failed to import - cloudinary"
## Failing module

- **GitHub**: https://github.com/cloudinary/cloudinary_npm
- **npm**: https://www.npmjs.com/package/cloudinary

[code]

## Error message

After running `deno run` I got this:

[code]

## Additional info

- **esm.sh version**: v63
- **Deno version**: 1.17.2

When I tried to import it without `?no-check` flag, the following error occurred:
[code]

After `import "https://deno.land/

[2022-01-21 08:03] aiotter commented on #252
Don't forget to pin this issue instead of #99!

[2022-01-21 11:17] ije commented on #253
@aiotter thanks i will look into it

[2022-01-21 15:22] ije commented on #253
after added `process.versions.node` i got anther error:

<img width="596" alt="Screenshot 2022-01-21 at 23 21 40" src="https://user-images.githubusercontent.com/2883484/150552588-2bc68d6a-b526-4f67-9e57-1e841e6c81f7.png">

[2022-01-21 15:24] ije commented on #253
`types` seems to work for me:

<img width="885" alt="Screenshot 2022-01-21 at 23 24 15" src="https://user-images.githubusercontent.com/2883484/150553066-a4a58549-772f-46cd-bf8e-797cd6e67c0f.png">

[2022-01-21 15:46] #253 closed

[2022-01-22 03:20] aiotter commented on #253
Nice, it was so quick! Thanks ☺️

[2022-01-22 05:33] aiotter commented on #253
@ije It seems now working on both esm.sh and localhost yet.

esm.sh:
[code]

localhost (10c10b993c9126c0f45f6f5948917ffd51ef2746):
[code]

[2022-01-22 12:00] jespertheend opened #254 "Failed to import - rollup-plugin-cleanup requires `--allow-env` since v59"
## Failing module

- **GitHub**: https://github.com/aMarCruz/rollup-plugin-cleanup
- **npm**: https://www.npmjs.com/package/rollup-plugin-cleanup

[code]

## Error message

After running `deno run --unstable` I got this:

[code]
When importing with `?pin=v58` it works fine.

## Additional info

- **esm.sh version**: v59 and later
- **Deno version**: 1.17.0

[2022-01-22 12:01] jespertheend commented on #254
To be clear, running with `--allow-env` is not an issue for me. I'm just wondering if something broke unintentionally.

[2022-01-22 14:23] ije commented on #254
i just switched the node(process) polyfill to `https://deno.land/std/node/process.ts` instead of browsers in latest update, so you need the `--allow-env` flag as deno secure protocol when you access to "NODE_ENV"

[2022-01-22 14:23] #254 closed

[2022-01-23 17:17] PeterlitsZo opened #255 "Failed to import - tailwindcss"
## Failing module

- **GitHub**: https://github.com/tailwindlabs/tailwindcss

[code]

## Error message

After running `deno run` I got this:

[code]

## Additional info

- **esm.sh version**: v64
- **Deno version**:1.17.1

[2022-01-23 17:18] PeterlitsZo commented on #255
By the way. The import statement is what I find in esm.sh's homepage.

[2022-01-23 18:07] ije commented on #255
you should import css with `<link rel="stylesheet" href="https://...">`

[2022-01-23 18:08] ije commented on #255
this only works in alephjs

[2022-01-24 00:12] Xeevis commented on #255
Not quite sure what you are trying to accomplish, but that link truly doesn't exist. Latest TailwindCSS 3.x is a library for generating stylesheets and thus doesn't provide any out of the box. You can get stylesheet for 2.x with
[code]

[2022-01-24 03:46] ije commented on #255
i didn't know this, but this make sense, the `tailwind.min.css` is so huge without `tree-shaking`! i will update the README

[2022-01-24 03:47] ije commented on #255
@PeterlitsZo try https://tailwindcss.com/docs/installation/play-cdn instead

[2022-01-24 04:20] PeterlitsZo commented on #255
But... I am using alephjs...

[2022-01-24 04:27] PeterlitsZo commented on #255
Thanks this can work. but deno looks like do not really good to develop with tailwind...

I try but not work... Thank you for your kindly help...

Maybe I should use node.js and try deno one year later...

[2022-01-24 04:34] ije commented on #255
@PeterlitsZo did you try https://deno.land/x/aleph_plugin_windicss ？

[2022-01-24 18:46] Xeevis commented on #255
(...)

You can use TailwindCSS 3.x with Deno it's just a bit more work. Last month TailwindCSS [introduced Standalone CLI](https://tailwindcss.com/blog/standalone-cli) which is a self-contained binary. It's still based on Node, but you don't need it installed. Hopefully in the future we'll have [rust-based CLI](https://twitter.com/malfaitrobin/status/1446905317825069063) as well.

1. Download late

[2022-01-24 20:40] ObsidianX opened #256 "v64 breaks Deno bundling with protobufjs"
According to the changelog build v64 updated the way `process` is handled.  As a result the Deno version of `protobufjs` includes `https://deno.land/std@0.122.0/node/process.ts` which includes unstable APIs and cannot be used without adding the `--unstable` flag to all Deno commands.

---

Sample file:
[code]

Result:
[code]

If `--unstable` is provided then it will succeed, but attempting to gene

[2022-01-24 21:26] Xeevis commented on #256
I think I also have problem with mentioned change, this works fine
[code]
but this throws
[code]

[code]

[2022-01-24 23:05] ebramanti opened #257 "Failed to import - js-sha256"
## Failing module

- **GitHub**: https://github.com/emn178/js-sha256
- **npm**: [js-sha256@0.9.0](https://www.npmjs.com/package/js-sha256)

[code]

## Error message

After running `deno run` I got this:

[code]

## Additional info

- **esm.sh version**: v64
- **Deno version**: 1.18.0

[2022-01-24 23:05] ebramanti commented on #257
This was previously working on `v57`, but even with a pin it is now breaking on my local build. This is a sub-dependency of `@project-serum/anchor`.

[2022-01-24 23:18] ebramanti commented on #257
I've also identified the issue to be with this line: https://github.com/emn178/js-sha256/blob/master/src/sha256.js#L83
[code]

Because the `require` is contained within an `eval` it is unable to be rewritten by `esm.sh`. I also tried globally setting `window.JS_SHA256_NO_NODE_JS` but it was not evaluated properly before the code was executed.

[2022-01-25 19:45] ije commented on #257
why not use deno std/hash module?  ems.sh can't handle the `eval` case

[2022-01-25 19:46] ije commented on #256
if you are bundling code for browsers or nodejs, try to use https://esm.sh/PACKAGE?target=2021 instead

[2022-01-25 20:48] ebramanti commented on #257
This is an internal dependency to `@project-serum/anchor` as I mentioned in the issue above. It allows you to override this behavior with global variables on `window` but it doesn't seem to work when I try it from my entry point in Deno.

[2022-01-26 02:09] ObsidianX commented on #256
Swapping
[code]
to
[code]
Produces the same problems as before.  `https://deno.land/std@0.122.0/node/process.ts` is still included.

[2022-01-26 07:48] PeterlitsZo commented on #255
Thanks. I am going to close this issue.

[2022-01-26 07:48] #255 closed

[2022-01-26 15:47] Xeevis commented on #256
Same issue here as well. @ije should the query string take absolute priority? Because it appears that is not the case. Deno will cache "deno production" build every single time from within VS Code, `?target` makes no difference whatsoever.

[code]

[2022-01-27 00:19] jeiea opened #258 "Failed to import - domhandler"
## Failing module

- **GitHub**: https://github.com/cheeriojs/cheerio, https://github.com/fb55/domhandler
- **npm**: https://www.npmjs.com/package/cheerio, https://www.npmjs.com/package/domhandler

[code]

## Error message

After execution I got this:

[code]

## Additional info

In my thought above `Br.Document` should be resolved, but for some reason `Br` became default exported class member, ot

[2022-01-27 03:03] #256 closed

[2022-01-27 03:19] ije commented on #256
sorry, my mistake! please use `?target=es2015` to `?target=es2021`

[code]

[2022-01-27 05:19] ije commented on #258
thanks, i will look into it

[2022-01-27 09:36] aiotter commented on #253
@ije This is just a gentle reminder, but did you checked my report above? If this is a solvable problem on the esm.sh side, can you please reopen the issue?

[2022-01-27 09:50] ije commented on #253
i think i can not fix it, since esbuild rewrite the `require` function.
but i guess you can add a workaround for it:

[code]

[2022-01-27 09:51] ije commented on #253
same as #257

[2022-01-27 10:01] aiotter commented on #253
Thank you for workaround! I appreciate it 😂

[2022-01-27 16:51] Xeevis commented on #256
It loads es2021 now, but I've also lost intellisense, with `?target=es2021` it's not downloading any types unlike `?target=deno` any way to solve this?

[2022-01-28 13:24] v1rtl opened #259 "Failed to import - @tinyhttp/app"
We should use std/node/http.ts instead of stream-http for Deno environment. `stream-http` is no longer needed. See https://deno.land/std/node/http.ts

## Failing module

- **GitHub**: https://github.com/tinyhttp/tinyhttp

[code]

## Error message

After running `deno run` I got this:

[code]

## Additional info

- **esm.sh version**: 64
- **Deno version**: 1.18

[2022-01-28 15:36] pauljoey opened #260 "[Feature] Add ?path= query parameter to improve Deno/importMap compatibility"
Hi! Love the project!

I'm really hoping to turf NPM and build system complexity often required for consuming third-party libraries (especially in the front-end). esm.sh really helps with that.

My use case: I'm really interested in the idea of using Deno + esm.sh as a build system for front-end projects.

I'm using an [importMap](https://github.com/WICG/import-maps) to resolve named dependencies

[2022-01-28 15:44] pauljoey commented on #236
Use `https://esm.sh/uuid?target=esnext` to avoid the User-Agent string auto-detecting that you're targeting the Deno environment. I saw in another issue there were some bugs with the target parameter in v63, so you might need to try different pinned versions / targets.

[2022-01-31 11:16] ije commented on #260
@pauljoey this looks great, i will add this feature asap

[2022-01-31 12:28] #260 closed

[2022-01-31 16:57] snendev commented on #199
fyi, i believe this is also reported in #165

[2022-02-01 06:35] aiotter commented on #179
Still having a problem in importing `micromark@3.0.10`.

[code]

[code]

You can see a function `postprocess` is exported here.
https://github.com/micromark/micromark/blob/3.0.10/packages/micromark/dev/lib/postprocess.js

[2022-02-03 06:00] ije opened #261 "Revert process polyfill of v64"
since esm.sh switches the `process` polyfill to `deno.land/std/node/proecess.ts`, some unexpected issues happened:

- Breaks bundling: #256
- Deno deploy error: `TypeError: Can not modify env vars during execution.` (https://deno.js.cn/t/topic/1013)

[2022-02-03 16:30] its-me-ilia commented on #165
Any update?

[2022-02-05 06:46] TomokiMiyauci opened #262 "Failed to import - decodeNamedCharacterReference"
## Failing module

- **GitHub**:  https://github.com/wooorm/decode-named-character-reference
- **npm**: https://www.npmjs.com/package/decode-named-character-reference

[code]

## Error message

After running `deno run` I got this:

[code]

## Additional info

Perhaps the `browser` in the exports field of `package.json` has been resolved.

[code]

- **esm.sh version**: 64
- **Deno version**: 1.18.2

[2022-02-05 19:08] #251 closed

[2022-02-05 19:08] #261 closed

[2022-02-05 19:08] #262 closed

[2022-02-05 19:36] ije commented on #209
now you can override the `target` in **v65** when using deno

[2022-02-05 19:36] #209 closed

[2022-02-05 19:37] #229 closed

[2022-02-05 19:39] ije commented on #227
@talentlessguy you can specify the "dom" types in the `deno.json`(tsconfig)
[code]

[2022-02-05 19:39] #227 closed

[2022-02-05 19:42] ije commented on #241
i guess it is **types** problem, i will look into it.

[2022-02-05 19:44] ije commented on #168
switch to https://github.com/Masterminds/semver in v65

[2022-02-05 19:44] #168 closed

[2022-02-05 19:45] ije commented on #150
i am going to close this since long time passed

[2022-02-05 19:45] #150 closed

[2022-02-05 19:47] ije commented on #138
ref #168

[2022-02-05 19:48] #138 closed

[2022-02-05 19:48] #128 closed

[2022-02-05 19:58] ije commented on #262
fixed in **v65**

[2022-02-05 19:59] ije commented on #260
added in v65

[2022-02-05 19:59] ije commented on #251
fixed in v65

[2022-02-06 03:23] nnmrts commented on #209
Awesome, thanks!

[2022-02-06 04:16] quaos opened #263 "Browser bundle broken - url - std/node dependencies"
## Failing module

- **GitHub**: https://github.com/pixijs/pixijs => https://github.com/defunctzombie/node-url
- **npm**: https://www.npmjs.com/package/pixi.js/v/5.0.0-rc => https://www.npmjs.com/package/url

[code]

## Error message

After `onload` I got this:
[code]

## Additional info

I have this React web app project that requires PixiJS, and built using `deno bundle`.

Some times before this

[2022-02-06 07:37] ije commented on #192
@talentlessguy `document` only works in browsers

[2022-02-06 07:37] #192 closed

[2022-02-06 19:13] wooorm commented on #179
Similar on v65:

[code]

Yields:

[code]

For some reason [`/deno/lib/parse.js` on the CDN](https://cdn.esm.sh/v65/micromark@3.0.10/deno/lib/parse.js) does not match what’s in [the source](https://github.com/micromark/micromark/blob/main/packages/micromark/dev/lib/parse.js). Instead, it matches [the project’s main file](https://github.com/micromark/micromark/blob/main/packages/micromark/dev/index.

[2022-02-07 14:17] ije commented on #258
fixed in **v65**

[2022-02-07 14:17] #258 closed

[2022-02-07 14:21] #179 closed

[2022-02-07 14:28] wooorm commented on #179
Awesome!

[2022-02-07 14:34] ije commented on #179
@wooorm btw [micromark](https://github.com/micromark/) is amazing!

[2022-02-07 14:38] aiotter commented on #179
Nice work!

[2022-02-07 14:50] aiotter commented on #179
Thanks for v66, I finally succeed in importing MDX in deno!
Thank you again to @ije, and of to @wooorm for great micromark package! I'll use micromark instead of markdown-it ;-)

[code]

[2022-02-08 00:53] ije commented on #259
**v66** still not works:

<img width="901" alt="Screenshot 2022-02-08 at 08 52 14" src="https://user-images.githubusercontent.com/2883484/152897213-8a29de1a-c3dd-4cdd-b0de-fb81b641327a.png">

[2022-02-08 02:31] ije commented on #259
just tried to move to `deno.land/std/node/http.ts` but failed:

[code]

[2022-02-08 02:43] ije commented on #236
or you can set the 'target' upper than **`es2018`** in the `deno.json` to support the `AsyncIterator` feature.

[2022-02-08 02:44] ije commented on #236
but i just tried in deno 1.18.2, seems it works without `deno.json` config

[2022-02-08 02:44] ije commented on #263
Use `https://esm.sh/pixijs?target=esnext` instead, or you can set the 'target' upper than **`es2018`** in the `deno.json` to support the `AsyncIterator` feature.

[2022-02-08 05:56] hardfist opened #264 "any way to bundle the entry"
It seems that the bundle query like`https://esm.sh/react@17.0.2?bundle` doesn't bundle the entry
[code]
I would like it to be
[code]
Is there an way to do that

[2022-02-08 06:04] ije commented on #264
you can use `https://cdn.esm.sh/v64/react@17.0.2/es2021/react.bundle.js` instead, this is immutable.

[2022-02-08 06:27] hardfist commented on #264
does this url have some form doc description ?

[2022-02-08 06:34] ije commented on #264
nope, but the format is very simple and fixed:
`https://cdn.esm.sh/BUILD_VERSION/PKG@VERSION/TARGET/PKG[.bundle].js`

[2022-02-08 06:51] hardfist commented on #264
does it supports custom format, i want the bundle version to be commonjs format

[2022-02-08 07:31] ije commented on #264
currently esm.sh only provides ESM version that can be imported by URL.

[2022-02-09 02:22] crowlKats commented on #241
Found another case of this: https://esm.sh/@tensorflow/tfjs-backend-webgpu
somewhere deep within it will try to import https://cdn.esm.shwebgl2/

[2022-02-09 11:57] elisee opened #265 "Failed to import - sucrase@3.20.3"
## Failing module

- **GitHub**: https://github.com/alangpierce/sucrase
- **npm**: https://www.npmjs.com/package/sucrase

[code]

This used to work. I tried pinning a bunch of older versions and finally got it working with `v58`:

[code]

## Error message

After running `deno run` I got this:

[code]

## Additional info

- **esm.sh version**: v66
- **Deno version**: 1.18.2 (release, x86_64-pc-wind

[2022-02-21 02:20] quaos commented on #263
Thanks! the `?target=esnext` worked! Now the site can be built and running again.

[2022-02-21 02:20] #263 closed

[2022-02-24 08:58] ayame113 opened #266 "Failed to import - firebase-admin/database"
## Failing module

- **GitHub**: https://github.com/firebase/firebase-admin-node
- **npm**: https://www.npmjs.com/package/firebase-admin

[code]

## Error message

After running `deno run` I got this:

[code]

## Additional info

- **esm.sh version**: v66
- **Deno version**: 1.19.0

[2022-02-27 20:34] jeiea opened #267 "Failed to import - lodash-es"
## Failing module

- **GitHub**: https://github.com/lodash/lodash
- **npm**: https://www.npmjs.com/package/lodash-es

[code]

## Error message

After running `deno run` I got this:

https://gist.github.com/jeiea/f0d2e176536ee64ce14af4b687e18af5

## Additional info

- **esm.sh version**: v66
- **Deno version**: 1.19.0

[2022-03-01 09:25] ije commented on #267
seems it is types problem, try `https://esm.sh/lodash-es@4.17.21?no-check`

[2022-03-01 10:07] ije commented on #266
thanks, i will look into ti.

[2022-03-03 10:46] johnpangalos opened #268 "Testing page with prod versions"
Hey, esm.sh seems like a really cool project. Nice to have an alternative to skypack! I was looking at the website and noticed that when clicking on the testing page, the downloads seemed quite slow.

Looking at this for my use case (which is a static page website) gave me pause as it seemed to be quite slow until I realized that it was downloading the non minified versions of each package.

I was

[2022-03-05 00:11] trhinehart-godaddy commented on #252
Does `preload deps` mean defining the deep imports up front? Also, have you considered putting those imports in the response header to preload as well to help reduce the waterfall?

[2022-03-06 16:57] nihgwu commented on #265
I think it's the same issue as https://github.com/vitejs/vite/issues/7112, probably caused by `esbuild`

[2022-03-07 12:22] fonsp opened #270 "Does esm.sh work on China mainland?"
Awesome work on esm.sh, thanks so much! I noticed that a CDN inside China was mentioned on the readme before, but it is now removed. Does esm.sh have good support inside China, [like jsdelivr.com](https://www.jsdelivr.com/network)?

[2022-03-07 15:24] ije commented on #270
it works but vary slow, it's hard to say since China gov doesn't allow `.sh` domain even cloudflare can provide CDN in China.

[2022-03-07 17:40] mashaal opened #271 "Failed to import - https://esm.sh/@react-three/drei?bundle"
## Failing module

- **GitHub**: [@react-three/drei](https://github.com/pmndrs/drei)
- **npm**: [@react-three/drei](https://www.npmjs.com/package/@react-three/drei)

When using the `bundle` option, it cannot find `react-three/fiber`

https://esm.sh/@react-three/drei?bundle

## Error message

[code]

[2022-03-07 17:43] talentlessguy commented on #259
ah yeah it has two separate interfaces for IncomingMessage

[2022-03-07 17:43] talentlessguy commented on #259
I guess then until it gets merged

[2022-03-07 19:50] nihgwu commented on #271
Same here but different error, I tried to make [those examples](https://docs.pmnd.rs/react-three-fiber/getting-started/examples) work [here](http://localhost:3000/#JYWwDg9gTgLgBAJQKYEMDGMA0cDecCuAzksgGbZFIDKMKMScAvnKVBCHAORSoacBQoSLFxwAwigB2ANxSEKxAGJQUIBs1bsuAAR7oYAWhgALHkgD0pYACMkUAf1L5JGYBElwAQhAAeACjA2MEIASlx+ODhzczgAFWNgQjgeUjskFwYAd2AAGxy4AHNgaQYiOAATYB4MOHQ0JEIkmAg4EwY1QmMIuDR3QngO4zgAXgJiM

[2022-03-08 00:11] ije commented on #271
this happened because drei defines the `@react-three/fiber` in `peerDespendencies`, i will fixed this

[2022-03-08 00:17] ije commented on #268
it's slow because the `waterfell` since the testing page import a lot modules, you can change it to prod version, but i am not sure it can improve the speed very well

[2022-03-08 06:20] johnpangalos commented on #268
The waterfall is not the issue I'm trying to point out, the issue is that if I were to be assessing whether or not to use esm.sh and find the testing page at the bottom I would potentially discount esm.sh because of the individual slow loading times presented in seconds on the testing page.

For example, if I were to see that using esm.sh with React on my page would add three seconds to my initial

[2022-03-08 06:30] johnpangalos commented on #268
You could also add a note on the testing page saying that it's using development bundles and it does not reflect real world use. That would also mitigate this in my opinion.

[2022-03-08 11:21] nihgwu commented on #271
@ije so that's not the same issue as I have? Should I create a new ticket for that, I just updated the links(linked to local env previously)

[2022-03-08 11:41] ije commented on #271
@nihgwu yes please

[2022-03-08 13:06] nihgwu opened #272 "Failed to import - https://esm.sh/@react-three"
## Failing module

- **GitHub**: [@react-three/drei](https://github.com/pmndrs/drei)
- **npm**: [@react-three/drei](https://www.npmjs.com/package/@react-three/drei)

[code]

## Error message

SyntaxError: The requested module '/v67/mmd-parser@1.0.4/es2021/mmd-parser.js' does not provide an export named 'CharsetEncoder'

## Additional info

 I tried to make [those examples](https://docs.pmnd.rs/rea

[2022-03-09 08:55] #272 closed

[2022-03-09 08:55] #271 closed

[2022-03-10 16:20] myobie opened #273 "Failed to import - preact-iso"
## Failing module

- **GitHub**: https://github.com/preactjs/wmr/tree/main/packages/preact-iso
- **npm**: https://www.npmjs.com/package/preact-iso

[code]

## Error message

After running `deno run` I got this:

[code]

## Additional info

- **esm.sh version**: V68
- **Deno version**: 1.18.2

[2022-03-10 19:09] MichaelHirn opened #274 "Failed to import - io-ts"
## Failing module

- **GitHub**: https://github.com/gcanti/io-ts
- **npm**: https://www.npmjs.com/package/io-ts

[code]

and

[code]

## Error message

After running `deno run` I got this:

[code]

The important part is, that it tries to load `fp-ts` with version `2.2.0`, even though `io-ts` species in `peerDependencies` that at least `fp-ts@2.5.0` should be used. I have no idea where `2.2.0` is c

[2022-03-11 00:23] ije commented on #274
when you pass the `no-check` option you can not use `import type` since there is no dts

[2022-03-11 11:54] MichaelHirn commented on #274
Thanks for your reply, that makes sense with the `no-check` flag

[2022-03-11 11:56] MichaelHirn commented on #274
any ideas where the `fp-ts@2.2.0` is coming from and if I can force it to load a different `fp-ts` version?

[2022-03-12 04:17] ije commented on #274
i will look into it, not sure what happened yet

[2022-03-12 12:49] p-fruck opened #275 "Failed to import - binary-data"
## Failing module

- **GitHub**: [https://github.com/reklatsmasters/binary-data](https://github.com/reklatsmasters/binary-data)
- **npm**: [https://www.npmjs.com/package/binary-data](https://www.npmjs.com/package/binary-data)

[code]

## Error message

After running `deno run` I got this:

[code]

## Additional info

- **esm.sh version**: v68
- **Deno version**: 1.19.1

The author of `binary-data`

[2022-03-13 22:19] ysulyma opened #276 "Packages should import latest semver-compatible version of dependencies"
I am importing https://esm.sh/liqvid and https://cdn.esm.sh/v68/@liqvid/katex. The first correctly imports the latest version `liqvid@2.1.2`. However, the second is importing `liqvid@2.1.1` as a dependency, which causes code to break since it's accessing the wrong Liqvid context. The `@liqvid/katex` package declares `"liqvid": "^2.1.1"` as a dependency; since `2.1.2` matches `^2.1.1` and is newer

[2022-03-14 02:37] ije commented on #276
try to add `?deps=liqvid@2.1.3` to change the liqvid version

[2022-03-14 06:45] ysulyma commented on #276
That's what I resorted to, and it worked, but it should happen automatically

[2022-03-14 11:56] nihgwu opened #277 "Issues with V69"
Sorry I didn't follow the template, as I think it's not an issue for an specific package
After V69, a lot of packages are failed to import, like `@emotion/styled` `react-select` `@mui/material/xxx` `@bytemd/react` and I believe there are more, you can try to reproduce it [here](https://play-react.vercel.app/#JYWwDg9gTgLgBAbzgVwM4FMDKMCGN0A0KGAogGZnoDG8AvnGVBCHAORTo42sBQoksOKhgBPADboAJgyYtWAAXQgIMY

[2022-03-14 11:58] ije commented on #277
thanks, i will rollback then look into it

[2022-03-14 12:02] nihgwu commented on #277
https://github.com/nihgwu/react-runner/pull/103 I checked pinning to v68 fixed the issue

[2022-03-14 12:05] nihgwu commented on #277
BTW your testing page looks great, sadly it missed all the falling cases 😢

[2022-03-14 14:15] ije commented on #277
now it works -> [https://play-react.vercel.app](https://play-react.vercel.app/#JYWwDg9gTgLgBAbzgVwM4FMDKMCGN0A0KGAogGZnoDG8AvnGVBCHAORTo42sBQoksOKhgBPADboAJgyYtWAAXQgIMYBAB2AemHipvHqLDo4ASXwsAvIh5w4wSQC4465CABG6KDbiqYEp8JQwOoA5t6QwTCoAPxOLu6ecAA+zshiYt5onrFCMEGhyanp3qog6HGuHl62pegA+jghEAF5wWG2VMxl6lF1ncg9FQnVPiJGLfntKFBiOYFt3pLMOMFzraE8tDw8nerCcCHoMGZKqHBWABRgjeWpwwCUTgAKssAYADwnIADaALoAfOd-t5KDAq

[2022-03-14 15:29] marcushultman opened #278 "Failed to import - rxjs"
## Failing module

- **GitHub**: https://github.com/ReactiveX/rxjs
- **npm**: https://www.npmjs.com/package/rxjs

[code]

## Error message

After running `deno run` I got this:

[code]

## Additional info

- **esm.sh version**: 69
- **Deno version**: 1.19.0

Also fails in browser

[2022-03-15 04:11] evolify opened #279 "Failed to import - vorpal"
## Failing module

- **GitHub**:
- **npm**:

[code]

## Error message

[code]

[2022-03-16 02:04] ggoodman opened #280 "Failed to import - @angular/common@11/http"
## Failing module

- **GitHub**: https://github.com/angular/angular/tree/master/packages/common
- **npm**: npm.im/@angular/common

[code]

## Error message

After `onload` I got this:

[code]

## Additional info

- **esm.sh version**: Public esm.sh
- **Browser version**: Chrome 99

[2022-03-16 05:40] ije commented on #279
please try `https://esm.sh/vorpal?pin=v69`? or run it with `--reload` flag

[2022-03-16 05:41] ije commented on #280
same as #278 , i will look into it

[2022-03-16 13:29] ggoodman commented on #280
@ije good catch. Would you like to close this one?

[2022-03-17 00:20] ggoodman commented on #278
Looks like it might be a short-coming of the logic here that seems to assume that remapped wildcard submodule prefixes will match: https://github.com/esm-dev/esm.sh/blob/5ae08198958ce8cba57c9da433ead4b2b79addfc/server/module.go#L105-L131

If you look at the `packge.json` for `rxjs@7.5.5`, starting on line 60, I think it explains why the linked code might not be working as expected: https://unpkg.c

[2022-03-17 02:32] evolify commented on #279
Now the error is:
![image](https://user-images.githubusercontent.com/12669069/158724773-e7a90a31-eead-4f7c-ba80-d8662691e873.png)

[2022-03-18 13:11] ije commented on #278
@ggoodman thanks for the details, i am working on it

[2022-03-18 14:32] lwdgit opened #281 "Failed to import - @babel/runtime"
## Failing module

- **npm**:
https://www.npmjs.com/package/@babel/runtime

[code]

## Error message
[code]
<img width="911" alt="image" src="https://user-images.githubusercontent.com/5530205/159022186-eceecb5e-421c-44b9-b298-98e690e9c8ee.png">

## Additional info

- **esm.sh version**: v69
- **Browser version**: chrome 99.0.4844.51

[2022-03-18 15:53] #278 closed

[2022-03-18 15:55] ije commented on #278
fixed in https://github.com/esm-dev/esm.sh/commit/1dabda78e47ade5b19498cd81a16ce32785cac91, will release later

[2022-03-18 16:28] chmac opened #282 "Failed to import - readdirp"
## Failing module

- **GitHub**: https://github.com/paulmillr/readdirp
- **npm**: https://www.npmjs.com/package/readdirp

[code]

## Error message

After running `deno run` I got this:

[code]

## Additional info

- **esm.sh version**:
- **Deno version**: deno 1.19.3 (release, x86_64-apple-darwin)